[2019-02-27 10:14] infeo commented on #837
According to the [JDK 11 API](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/nio/file/FileSystem.html#getPathMatcher(java.lang.String)) the pattern `*.txt` should work.

But i'm afraid we can't do a lot about this :/

I tested this problem with the raw [dokany-java-mirror](https://github.com/cryptomator/dokany-nio-adapter/blob/1.1.3/src/test/java/org/cryptomator/frontend/dokany/

[2019-02-27 13:53] overheadhunter commented on #753
After some testing with improved logging, we found out that the file is indeed opened in read+write+append mode:

[code]

Problem is, that for Java FileChannels `APPEND` must not be specified together with `READ`:

([Source](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/nio/channels/FileChannel.html#open(java.nio.file.Path,java.util.Set,java.nio.file.attribute.FileAttribute...)

[2019-02-27 14:36] overheadhunter commented on #753
(https://linux.die.net/man/3/open)

I.e. `O_RDONLY` and `O_WRONLY` must not be present at the same time. Since those flags are decoded from a bitmask, where `O_RDONLY` has the value `0`, it is _always_ included (which is wrong if any of the other two is present).

[2019-02-27 15:50] overheadhunter commented on #753
Will be fixed by updating fuse-nio-adapter to version 1.1.1.

[2019-02-27 15:55] overheadhunter opened #840 "Mount fuse volumes to /Volumes"
On macOS it is preferred to mount volumes under `/Volumes`. Thanks to upstream fixes this should be possible once we've updated fuse-nio-adapter to version 1.1.1.

Related to #122, #668, #752.

[2019-02-27 16:23] #840 closed

[2019-02-27 21:11] overheadhunter opened #841 "Add warning about control characters in password"
The new password field allows to use non-printable characters (ASCII `0x00` - `0x1F` as well as Latin/Unicode `0x007F` - `0x009F`). These characters can not easily be typed on all devices, especially on mobile devices.

Therefore we should add a clear warning if control characters are used within the password.

### This might cause "Invalid Passphrase" errors
Because these characters have been fil

[2019-02-27 21:15] #841 closed

[2019-02-28 14:51] An-error-occurred commented on #741
No, stale bot, don't close! It's an important issue ; )

overheadhunter, you wrote that it's up to the OS and that might be true (it probably is, I've got no idea). Still, Dokany is unusably slow (and shows the exact same error) and the fact that I can't use this powerful feature is impeding my workflow to a point where I would give Boxcryptor a chance, although I don't really want to : (

[2019-02-28 19:01] overheadhunter commented on #741
Well you have to decide what you actually want. If you want the "timeline" to support webdav, open an issue at microsoft. If you want Dokany to become faster, feel free to contribute to #711 (can be anything from bottleneck analysis to profiling results).

This issue not getting resolved just by staying open without any useful input. If you have anything to share about the timeline feature that he

[2019-02-28 19:47] overheadhunter opened #842 "Inject Application"
At the moment we use JavaFX's `Application.launch(MainApp.class)` method which requires `MainApp` to have a default constructor, thus preventing constructor injection.

Constructor injection is possible, if we instead use `Platform.startup(runnable)`, which comes with a price: We have to monitor the application lifecycle ourselves. A first experiment was successful (see dd3c969f implemented in the

[2019-02-28 19:52] #663 closed

[2019-03-01 16:20] An-error-occurred commented on #741
Although I understand your perspective as a developer, this isn't the client's perspective. We both know that opening an issue at MS won't do a thing. And why would MS go at great lengths to ensure compatibilty with a third-party software? After all, everything worked well in previous versions and you must have somehow adapted to Windows' standards before. As a layman, I do not understand what you

[2019-03-01 18:52] jschlade opened #843 "Jar release for version 1.4.6"
Hi All,

I know 1.4.6 was just released hours ago but where's the jar release?

Thanks

[2019-03-02 12:12] arunsathiya opened #844 "Unable to create add new vault"
## Basic Info

I'm using macOS in version: 1.4.6

macOS 10.14.2 - Mac OS Mojave

## Description

When I click on the `+` icon on the Cryptomator app as indicated on [this video](https://invidio.us/watch?v=g9A0zihHZ14), the app does not respond. This is happening at least on two Mac computers - MacBook Pro and MacBook Air. I am not sure what's wrong here.

## Attachments (optional)

<img width="652

[2019-03-02 12:33] tobihagemann commented on #844
I'm unable to reproduce the issue on my iMac with the latest version of Mojave. With Cryptomator 1.4.6, the latest log file is now called `cryptomator0.log`. Have you looked inside `~/Library/Logs/Cryptomator` in general? There should be something.

Could you please check if you're also having this issue with the previous version? You can download Cryptomator 1.4.5 for macOS [here](https://dl.bint

[2019-03-02 14:58] RiseT opened #845 "Unlocking vault via WebDAV fails with v1.4.6"
## Basic Info

I'm using Windows 10 v1809

I'm running Cryptomator in version: 1.4.6

## Description
Unlocking my existing vault fails using v1.4.6 in combination with WebDAV, while utilizing Dokany works. This issue didn't exist with the prior version.

## Attachments (optional)

[code]

[2019-03-03 06:37] act28 opened #846 "JRE Segfault on AppImage start"
## Basic Info

I'm using Windows / macOS / Linux / … in version: …
Linux Fedora 29

I'm running Cryptomator in version: …
(You can check the version in the Cryptomator settings.)
1.4.6

## Description
Attempt to run AppImage results in core dump
[code]
…
(Please describe in detail what you did, what you expected, and what really happened.)
Expected app to launch. Fallback to 1.4.5 works fine.

##

[2019-03-03 14:11] arunsathiya commented on #844
Thank you, @tobihagemann! I don't see any specific errors on the log, but the 1.4.5 version helped. I will be looking at 1.4.6 version again, and I will drop my log here as soon as possible.

[2019-03-03 14:34] nikolayhg opened #847 "Wrong password after entering incorrect and then correct password"
## Issue Checklist

I
- searched existing (and closed) issues: https://github.com/cryptomator/cryptomator/issues
- searched the knowledge base: https://community.cryptomator.org/c/kb
- have read the support guide: https://github.com/cryptomator/cryptomator/blob/develop/SUPPORT.md
- have read the contribution guide: https://github.com/cryptomator/cryptomator/blob/develop/.github/CONTRIBUTING.md
- h

[2019-03-03 18:32] devel-andro opened #848 "Data loss when saving multiple files from Thunderbird"
I'm using Windows 10.
I'm running Cryptomator in version: 1.4.6 with dokany

Since updating to 1.4.6 I cannot save multiple files attachments from thunderbird into a cryptomator folder.

If I have an email with multiple files attached and I select Save all -> into a folder mounted with cryptomator, nothing gets saved. If I select only one file, that file saves ok. I have never encounter this probl

[2019-03-03 21:02] Stk2329 opened #849 "High CPU on Ubuntu if selecting vault"
## Issue Checklist

Checked for open issues, other High CPU issues seem to have different cause.

## Basic Info

I'm using Linux Ubuntu 18.04

I'm running Cryptomator in version: 1.4.6

## Description

If I select one of the vaults the CPU load jumps to 100%. It reduces slightly if I unlock the vault. However, if I select settings the apps induced CPU load decreases to ~3 and stays there. It jumps

[2019-03-03 21:07] ghost opened #850 "Floating Dav / Webdav list in settings"
## Issue Checklist

Checked for open issues

## Basic Info

I'm using Linux Ubuntu 18.04

I'm running Cryptomator in version: 1.4.6

## Description

In settings the list for selecting dav/webdav floats on top of "Check for updates". Once I select "webdav" under "Preferred volume type" it jumps back to where it belongs.

## Attachments (optional)

![screen1](https://user-images.githubusercontent.co

[2019-03-04 08:26] wwtex commented on #418
I'm on macOS and couldn't stand the extra icon in my dock, so I wrote a hidden startup solution for macOS without the extra Cryptomator icon lingering in the dock.

To use:
 1. Have Cryptomator installed in `/Applications/Cryptomator.app`
 2. Add the following applescript to an Automator project and export it to an *.app bundle
 3. Add the exported app bundle to startup items in System Preferences

[2019-03-04 17:43] gleanfield commented on #753
Tested with `cryptomator-1.4.6-x86_64.AppImage`, and **Git inside a Cryptomator vault is working as expected on Debian Linux.**

Awesome work. Thank you for your efforts on this.

[2019-03-04 19:28] overheadhunter commented on #849
Related to #827?

[2019-03-04 19:36] overheadhunter commented on #741
Yes if you opened an issue "Timeline not compatible with Cryptomator", they would probably ignore it. But this is not what I am saying. If you instead open an issue "Timeline not compatible with WebDAV drives", you're reporting an incompatibility with an open standard. Since MS apparently is marketing the timeline feature as a major part of their OS, I guess they _will_ care about it.

[2019-03-04 19:43] overheadhunter commented on #845
Oh boy, I missed "System Error 53". Still no definite idea what is causing it. See [other issues](https://github.com/cryptomator/cryptomator/issues?q=%22error+53%22) about error 53...

If you google it, you'll find a lot of instructions (even on MS pages) that suggest you troubleshoot your network settings including any firewall rules, DNS resolution, etc... Could be virtually anything.

[2019-03-04 19:58] overheadhunter commented on #846
Maybe related to cryptomator/cryptomator-linux#9, which _should_ be fixed but who knows...

Can you try the following: Download [cryptomator 1.4.6 as .tar.gz](https://dl.bintray.com/cryptomator/cryptomator/1.4.6/appdir.tar.gz), unzip it and see if you get the same error when launching the `Cryptomator` binary.

Next, open `app/Cryptomator.cfg` with an text editor and in the `[JVMOptions]` section

[2019-03-04 21:03] brainode commented on #727
@overheadhunter Problem solved!
Thanks!

[2019-03-04 21:03] #727 closed

[2019-03-05 09:22] jschlade commented on #843
Hi @tobihagemann and @overheadhunter,

Can you guys do a jar release of 1.4.6?

I think it's important that you guys keep doing this type of release.

I've experimented with adding back some tasks from the 1.4.5 build files and it looks like it could be done.

Thanks

[2019-03-05 10:46] overheadhunter commented on #843
Problem is that beginning with JDK 11, JavaFX is no longer a part of the JRE. Instead we have a new dependency: OpenJFX. While this has many advantages, this means that a fat jar would need additional 40 MiB of platform-specific libraries for Linux, macOS and Windows. The resulting fat jar would be bigger than the platform-specific installers.

Another problem is, that we rely on various JVM argum

[2019-03-05 11:07] RiseT commented on #845
Not sure if this is good news, bad news or something in between, but rebooting the computer (vs hibernation mode) did the trick. WebDAV working again. Should we close the issue?

[2019-03-05 11:40] overheadhunter commented on #845
1.4.6 did not change anything related to WebDAV (other than the log verbosity). The installer changes two system configurations:

1. It makes sure Windows' `webclient` is the preferred network provider (registry key  `HKLM\SYSTEM\CurrentControlSet\Control\NetworkProvider\Order`)
2. It adds `cryptomator-vault` as an alias for `127.0.0.1` to `C:\Windows\System32\drivers\etc\hosts`

It then restarts

[2019-03-05 11:42] overheadhunter commented on #845
Closing this, as the problem disappeared.

[2019-03-05 11:42] #845 closed

[2019-03-05 15:59] infeo commented on #837
will be fixed with the next update of dokany-nio-library version

[2019-03-05 20:35] Stk2329 commented on #849
I thought about it to, but I can't even see the graphs and the cpu load still spikes. I made a couple of screenshots maybe that makes it easier to understand the differences.

Cryptomator open but no selection:
![crypto_1](https://user-images.githubusercontent.com/33157936/53835681-5fff8d00-3f8e-11e9-8ee5-5b8311b11e17.png)
![terminal_1](https://user-images.githubusercontent.com/33157936/53835679-5

[2019-03-06 04:54] markliederbach commented on #769
Does this also resolve #48 for making portable installations? I'm not super familiar with this change, but it seems like this is possible now.

[2019-03-06 16:43] jschlade commented on #843
Hi Guys,

So I did some experimenting. Using the 1.4.5 source files and the main\pom.xml build file as a guide I did the following:

1) Downloaded the 1.4.5 and 1.4.6 source files.
2) In the 1.4.6 source files I modified the main\pom.xml file. In this section I added **`<module>uber-jar</module>`** and saved the file.

[code]
3) From the 1.4.5 source files I copied the uber-jar subdirectory from m

[2019-03-06 19:13] overheadhunter commented on #843
If you build it like that it will only run on Windows. To get a platform-independent fat jar, you need to include additional modules, as described in [this SO answer](https://stackoverflow.com/a/52654791/4014509).

As stated above we could definitely create a jar release, but we'd still need platform-specific `launcher.bat`, `launcher.sh`, `...` scripts that add various runtime arguments in order

[2019-03-07 16:30] An-error-occurred commented on #741
Good point. I'll do it, but I have contributed far bigger issues there and nothing has changed yet. But still, I'll try. Thanks for the input.

[2019-03-08 06:13] warmup72 opened #851 "Mac: No folder icons"
I'm using Windows macOS 10.14.2

I'm running Cryptomator in version: 1.4.6

The Folder Icons are not shown and i´m unable to set a individual Folder Icon for the cryptomator-drive.
The "icon?" file exisist but the graphic isn´t shown.

[2019-03-08 15:35] libertyx82 commented on #791
there is a new Dokany Version https://github.com/dokan-dev/dokany/releases
 with some interesting fixes

- FUSE - Expose allocation unit size and sector size.
- Library - Increase DOKAN_MAX_THREAD from 15 to 63 for better performance.

[2019-03-08 15:38] warmup72 opened #852 "Mac: No Tagging"
I'm using macOS  in version: 10.14.3

I'm running Cryptomator in version: 1.4.6

The Tagging of File is not supported.
If I copy tagged files into a cryptomator-Folder they are gone.
If I try to set a filetagging in a cryptomater-folder i get an error-message

[2019-03-08 15:58] TimetravelerDD commented on #791
sounds good indeed. can we simply  install the new dokany version on top of the current installation or does it have to be shipped with a new cryptomator installer?

[2019-03-08 19:12] isipka commented on #48
Any news on this feature request ?
I see #769 is closed.

[2019-03-08 22:20] whitephoenix117 commented on #791
Still having the same issue with the new Dokany version

Cryptomator 1.4.6
Dokany 1.2.2.1

[2019-03-09 01:29] act28 commented on #846
Thanks. The `tar.gz` worked fine - without having to the set the `-Djdk.gtk.version=2` option.

[2019-03-09 05:20] overheadhunter commented on #846
Strange, it's the exact same software.

[2019-03-09 10:13] infeo commented on #791
These changes won't make a difference to the performance since dokany forces you to specify a fixed number of threads before you use it. So as long as the number of threads specified in the [dokany-nio-adapter](https://github.com/cryptomator/dokany-nio-adapter/blob/c4aa01e6c81c3d32ca14fd55a759e0788fbc642e/src/main/java/org/cryptomator/frontend/dokany/MountFactory.java#L29) is not changed, there wi

[2019-03-10 09:25] tibitts commented on #849
OpenSUSE 15.0, Gnome 3.24, Xwayland 1.19.6
I'm having the same problem. Upon selecting one of the vaults the CPU spikes. Affected processes are Cryptomator and Xwayland.

![cryptomator_high_cpu](https://user-images.githubusercontent.com/30876012/54082984-1ad8b380-431e-11e9-9bfc-84cac20b3390.png)

Unrelated - I've downloaded cryptomator 1.4.6 as .tar.gz due to issue #846 'JRE Segfault on AppImage s

[2019-03-10 23:41] #793 closed

[2019-03-11 09:35] walma7 commented on #849
@Stk2329
This is also reproducible with cryptomator running on Windows 10 x64, with one difference: only when cryptomator is minimized.
I'm using version 1.4.6.
If i open the application nothing unusual happens, whether window is shown or minimized, but if i select the vault, the password dialog is shown on the right side and minimizing the window let the cpu spike

[2019-03-11 12:28] SokoFromNZ commented on #524
Hi guys,

I'm using Win7 Ult x64 SP1 (latest updates) and CryptoMator v1.4.6 with a vault using Dokany.

Unfortunately I have the same issue as described here with any portable app installed in the vault.

I want to move my secure data and apps from TrueCrypt to a CrytoMator vault but if I'm not able to run portable apps out if it I cannot use it.

Any idea why this is still happening with Dokany?

[2019-03-11 12:51] SokoFromNZ commented on #78
Hi guys,

I'm using Win7 Ult x64 SP1 (latest updates) and CryptoMator v1.4.6 with a vault using Dokany.

Unfortunately I have the same issue as described here with any portable app installed in the vault.

I want to move my secure data and apps from TrueCrypt to a CrytoMator vault but if I'm not able to run portable apps out if it I cannot use it.

Any idea why this is still happening with Dokany?

[2019-03-11 20:35] overheadhunter commented on #78
Interesting! @infeo not sure if simply setting this to ntfs or fat is legitimate, though.

[2019-03-11 22:48] whitephoenix117 commented on #791
I'm not sure if this is related or a separate bug however I noticed that before the adapter crashes entirely that the chart showing bandwidth usage becomes completely inaccurate (but not unresponsive).

You can see in the picture below that both task manager and explorer are showing ~8MB/s being transferred into the vault however cryptomator is flat lined

![image](https://user-images.githubuserco

[2019-03-12 06:41] SokoFromNZ commented on #78
@overheadhunter Would you mind to open this bug again as its definetly not fixed with dokany?
Thanks
Andi

[2019-03-12 07:53] SokoFromNZ commented on #78
@overheadhunter @infeo I think I've found a solution (using Dokany)!

I did some more testing using the current version of FileZillaPortable in a vault. When starting FileZillaPortable.exe it says it cannot find an XML File...but the file is there!
I looked closer and saw upper/lower case differences in the path to the XML file.
So I changed the folder name to the upper/lower case letters in the e

[2019-03-12 19:14] infeo commented on #78
@overheadhunter that's not the problem. Run a small command application and a qt-based gui app from a vault and both worked fine.

@SokoFromNZ yes, it would not be very difficult changing the filesystem being case insensitive.
_But_ Windows can have more than case insensitve file systems and thus i wouldn't suggest it to implement it in general. From my point of view the fault lies at FileZilla be

[2019-03-13 08:46] swiesend commented on #422
Its been a while and publishing the first time to the Central Repository is quite a journey, but finally there is a first [release candidate](https://search.maven.org/search?q=g:%22de.swiesend%22%20AND%20a:%22secret-service%22) online.

So, anyone can easily download the package and try it. I mitigated further concerns and bugs and think this is now quite stable. Nevertheless If anyone finds awkwa

[2019-03-13 09:51] dallmana commented on #848
Hi,
I am using Win10 and Cryptomator 1.4.6 as well, but I cannot save any attachments under Thunderbird (not only save all, but any files) to any vault folder. I have had this issue since the switch to dokany. When I have the folder open, it seems that the file is written (appears for a split second) but then is deleted again instantly.
Seems my problem is very similar to devel-andros.
Oh, I almos

[2019-03-13 12:17] overheadhunter commented on #78
Yes it would. Because the encypted file names are case sensitive:

[code]

If `foo.txt` exists and the user tries to open `foo.TXT`, a case-insensitive file system will do so successfully. A case-sensitive file system will report an error. In order to be case-insensitive, we have to check the existence of _all_ permutations of the filename. This is not possible (in polynomial time).

[2019-03-13 13:25] pos42 opened #853 "Syncing links partially works"
I have as a test folder in my filesystem...

[code]

Then I rsync with "-av" flags to a cryptomator volume of latest version 1.4.6 on MAC + OSXFUSE 3.8.3 and it says.....

[code]

The result when listing in the cryptomator archive is...

[code]

Symlinks seems to be ok, which is a very good progress.  But dates are not synced on links.

Just want to know if this is a known issue or not? Or have I

[2019-03-13 13:25] SokoFromNZ commented on #78
@infeo My point is that the overall Windows user who uses apps installed on CloudDrives, CryptoMator, Boxcryptor, VeraCrypt, Bitlocker VHD-File etc. just sees that they work great with all of them but CryptoMator. Nobody kinda cares why its not working, its just a disadvantage. But I'm totally with you saying that FileZilla is sloppy here! Back to a users view though: I use over a dozen of apps in

[2019-03-13 14:13] overheadhunter commented on #853
Thanks for reporting. While it makes sense (when looking at the code) that the file times are not set correctly, I don't understand why you get a "No such file or directory" error. Anyhow I opened an issue in the fuse library: cryptomator/fuse-nio-adapter#32.

[2019-03-14 10:06] infeo opened #854 "Forced Shutdown Dialogue: Cancel Button does not work"
## Basic Info
I'm using Windows in version: Windows 10 Pro, Ver. 1809
I'm running Cryptomator in version: 1.4.6

## Description
The cancel button of the force shutdown dialogue does not work as intended. When you click the button, cryptomator is shut down anyway independent of the used vault provider.

Steps to reproduce:
1. Open cryptomator
1. Unlock any vault
1. Close Cryptomator
1. Exit cryptom

[2019-03-14 10:15] #854 closed

[2019-03-16 08:59] rorygsales opened #855 "Cryptomator TreeSize - unknown command line option"
**System Info:**
Latest Windows 10 - 64 bit - updated 2019-03-16
Cryptomator version: **1.4.6**
No WARN / ERROR / FATAL in log with DEBUG mode enabled.

Hi all, awesome piece of software. Thank you. Still trialing it but so far its great.

**Description / Problem:**

Once I have successfully unlocked a Vault and I can see it in File Explorer - This PC. If I right click it and try use the free soft

[2019-03-17 07:42] rorygsales commented on #855
Hi Sebastian
Thank you, for the response, good point and question.
I will try and find out from them.
Looks like they offer a professional command line version. When I open up TreeSizeFree on its own and then go looking for available drives it only shows c:\ and d:\ not the e:\ so its almost like it doesn't recognise the Cryptomator file system / drive at all as browseable.
When I get time I will

[2019-03-17 08:33] bonanza123 commented on #846
I have a similar problem that is being solved by using the tar.gz you provided above. Here the log excerpt from the app-image under archlinux:

[code]

Basically, it refused to mount after typing the correct password.

[2019-03-17 20:16] LeXFReeMan commented on #847
I have the same thing

Some additionals:
* Start Cryptomator that has only one vault.
* Click on the vault.
* Enter wrong password and press Enter. You should should see "Wrong password" in the GUI. Vault not mounted.
* Enter correct password and press Enter. You still see "Wrong password" in the GUI. Vault not mounted.

This issues does not happen with version 1.4.2

[2019-03-18 16:13] Eyremba commented on #847
+1
I can confirm this bug.

[2019-03-18 17:09] overheadhunter commented on #853
Currently blocked by [JDK-8220793](https://bugs.java.com/bugdatabase/view_bug.do?bug_id=JDK-8220793).

[2019-03-19 11:04] franzmueller99 commented on #824
Can I do it already download?

[2019-03-19 11:12] overheadhunter commented on #824
Yes, please retest with 1.4.6

[2019-03-19 13:28] overheadhunter commented on #815
@tobihagemann Is this still reproducable?

[2019-03-19 13:46] tobihagemann opened #858 "Prevent multiple instances of Cryptomator"
# Steps to Reproduce
1. Copy Cryptomator.app
2. Start Cryptomator.app
3. Start copy of Cryptomator.app

# Expected Results
Second instance should not start.

# Actual Results
Second instance starts.

# Notes
It's a regression, probably caused by #55 and/or #663.

# Environment
- Software Version: 1.4.6
- Operating System: macOS (but should be reproducible on other systems as well)

[2019-03-19 13:50] overheadhunter commented on #858
Problem is that the `IpcEndpoint` is closed immediately (in a try-with-resource block):

https://github.com/cryptomator/cryptomator/blob/66770796238e22f7c6bb6f8e01567e53845d145c/main/launcher/src/main/java/org/cryptomator/launcher/Cryptomator.java#L83-L86

If we're the server, it should instead outlive the launcher. Regression caused by #663.

[2019-03-19 14:02] #858 closed

[2019-03-19 14:07] tobihagemann commented on #815
Hm, now I'm not so sure about the reproducibility of this issue to begin with. I've mentioned that I can't mount at `C:\Foo` but I can't reproduce it anymore, not even with Cryptomator 1.4.2. I still can't mount at `E:\Foo` (USB drive) though.

[2019-03-19 20:51] timmaj commented on #791
I experience the same issue when using robocyope on a large vault on Windows. I map the vault to a folder; at some point it becomes unavailable, while the folder is still considered a link. It needs to be delected manually in order to make mounting the vault possible again.

[2019-03-19 21:21] timmaj commented on #791
One more observation: when restarting the synchronization after failure and re-mount, the problem happens again but when comparing different folders. It seems that all folders already cache by Google File Stream are processed fine; those cached on-the-fly eventually lead to the problem. This could suggest that in Dokany and/or cryptomator some timeout are handled in a problematic way.

[2019-03-19 21:28] timmaj commented on #791
And finally, a question: there must be any reliably working software stack of Google Drive (without local replication), file-based encryption and synchronization out there, musn't it? I think I tested in the last two years every bloody tool available for Windows and any imaginable combination seems to have some problems. File Stream, Cryptomator and Dokany (WebDav does not reliably work...) and ro

[2019-03-19 23:11] whitephoenix117 commented on #791
Recently I noticed that my newer ultra book was running the vault very reliably; While my older laptop workstation was not. I also tested a mini-pc for fun.

Test procedure: Run windirstat on a the same vault mounted from google drive file **stream** containing 3.8 TB and 14K files

All 3 machines are running the same version of Doknay & Cryptomar (1.2.2.1/ 1.4.6)

Able to successfully complete wi

[2019-03-20 11:11] SokoFromNZ commented on #791
Hello,
I have the same issue as most of the other closed issues referring to this one here:

- Win7x64 (latest updates)
- CryptoMator v1.4.6 with the Dokany version in it

I've copied with robocopy the attached files and folders (a lot of very small files) into an empty vault with no problems.

But when I'm navigating with the windows explorer to \MyShoutcast\Various\ folder, which has 6801 files

[2019-03-21 21:00] timmaj commented on #791
Does Robocopy work for you with WebDAV? I need to use Dokany, as using WebDAV leads to problems recognizing which files have been changed....

@whitephoenix117 : What I try currently is to copy the whole m directory of Crytptomator, so that it is cached. I wonder if robocopy can then proceed without the crash of the mount.

[2019-03-21 22:19] overheadhunter commented on #791
That is actually a very good idea! The whole "long file name" thing is the only thing within the Cryptomator file system that _can not_ be done atomically. I can not explain why this should unmount a drive, but this might give us some valuable results.

[2019-03-22 06:06] SokoFromNZ commented on #791
It worked for the specific folder as expected. Having said that: All that robocopy did was deleting all the files. So not sure if recognizes timestamps correctly.

I'm curious what the m-Folder does in robocopy. Can somebody tell me ;)

[2019-03-22 13:13] timmaj commented on #791
With the m-Folder I did not refer to robocopy. I referred to the view of an encrypted cryptomator vault from the file system. To my understanding, the m folder keeps the information on directories and file names in the vault, also in encrypted form. Thus, having it cached when working with a remote vault should significantly boost directory traversal and similar operations.

[2019-03-22 13:20] SokoFromNZ commented on #791
Yeah sorry, I ment CryptoMator (corrected it above)...
I thought something like that. So I reckon your CloudFiles (where the m-dir sits) is usually some kind of on-demand stuff? So you have it no locally on your hard drive where cryptomator runs, correct?

Or do you backup it somewhere else? Meaning in addition to the location where CryptoMator expects the files to be...

[2019-03-22 13:25] timmaj commented on #791
OK, m is fully cached now. I started the synchronisation, and so far the erroenous dismount could not be observed. It will take quite a while for the synchronisation to run as I am on holidays and on a high-latency connection, but I will report.

@overheadhunter I think there are some hints that traversing a high number of directories with a high number of files in a Dokany-mounted vault causes a

[2019-03-22 13:31] timmaj commented on #791
Alas, I was too early to optimistic. The mount crashed. This means that whatever is cached is not helping. However, I noticed the Google File Stream keeps uploading cryptomator files even while robocopy just traversed and did not yet fine anything to synchronize.

Thus, could it be file writes, not reads causing the problem? Unfortunately, I am on holidays and will only be able to test the low-lat

[2019-03-22 13:34] timmaj commented on #791
@SokoFromNZ I use Google File Stream to access about on TiB of data stored online. However, File Stream has a cache that is huge enough to cache all meta data used by cryptomator. However, the above experiments suggest that this is not enough.

[2019-03-22 19:51] #766 closed

[2019-03-22 20:12] TimetravelerDD commented on #791
for me as well caching the "m" folder didn't help unfortunately

Am Fr., 22. März 2019 um 14:34 Uhr schrieb Tim <notifications@github.com>:

[2019-03-22 21:21] whitephoenix117 commented on #791
@TimetravelerDD
@overheadhunter
@infeo

I have seen significantly improved stability of the vault using [Dokan 1.0.2.1000]!lk(https://github.com/dokan-dev/dokany/releases/tag/v1.0.2)

After clearing the entire DriveFS cache in C:\Users\[username]\AppData\Local\Google\DriveFS I was able to successfully complete a windirstat scan of my entire vault!

Repeating the same test with Dokan 1.2.2.1000 cau

[2019-03-22 21:42] timmaj commented on #791
How did you get that idea?

I just downgraded and my sync is running for more than five minutes already. And I did not even clear the file stream cache. Thus, are we talking about a Dokan issue or an incompatibility of the latest release with cryptomator?

[2019-03-22 22:02] whitephoenix117 commented on #791
I started comparing everything between my working and non-working computers eventually I narrowed it down to that Dokan version.

[2019-03-23 11:48] timmaj commented on #791
Interesting stuff!

My synchronisation keeps on running (not all the time, I had the PC hibernating over night). It synchronizes many files that have not changed, but this might be caused by the version change. A second run will shed more light on this. However, considering the issue opened here, I am confident to confirm that @whitephoenix117 found a workaround. The mount is stable. Cryptomator u

[2019-03-23 17:22] whitephoenix117 commented on #791
Glad others are seeing similar results!

I did not test intermittent versions between 1.2.2.1 and 1.0.2 to see
exactly where it breaks.

I did test multiple versions of the 2017 C++ resistrutable with Dokan 1.2.2
but didn't notice and you change.

During the install of Dokan 1.0.2 I thought I saw it's using the 2015
redist so that would be another change point to explore.

On Sat, Mar 23, 2019, 07

[2019-03-23 17:46] overheadhunter commented on #791
@infeo Can you try to find an answer together with the Dokany team?

[2019-03-24 02:30] gynet opened #859 "[Feature Request]: Javascript Implementation"
Is there any plan for a client or just a simple lib implemented in Javascript. It would be help a lot for usability and conveniency purpose.

[2019-03-24 06:06] overheadhunter commented on #859
There is no plan to implement the full Cryptomator program in JS. Or do you mean only the cryptographic parts, so it allows 3rd party browser plugins?

[2019-03-24 06:08] gynet commented on #859
Yes, I mean just a simple lib for encrypting and decryptinga single file , so it can be used in browser or node.js

[2019-03-24 08:07] jensjakob commented on #802
"Custom flags for FUSE" are also needed to be able to remove "noappledouble" so we can use rsync to copy files beginning with underscore. FUSE refuse files with "._" and because rsync is using this pattern while copying files, the files isn't synced.

[2019-03-24 17:19] sudomateo commented on #846
I had the same issue on Fedora 29 using the latest updates as of the time of this writing. The only thing that worked for me was downloading the [appdir.tar.gz](https://dl.bintray.com/cryptomator/cryptomator/1.4.6/appdir.tar.gz) and setting the `-Djdk.gtk.version=2` option under the `[JVMOptions]` section in the `app/Cryptomator.cfg` file. Thanks @overheadhunter for the workaround.

[2019-03-25 07:24] overheadhunter commented on #846
Thanks, @sudomateo. This is the confirmation, that [JDK-8210411](https://bugs.openjdk.java.net/browse/JDK-8210411) (and its backport [JDK-8216292](https://bugs.openjdk.java.net/browse/JDK-8216292)) is not actually resolved. If it isn't resolved with JDK 12 either, we have to use GTK 2.

[2019-03-26 11:32] #740 closed

[2019-03-27 01:04] elsesiy commented on #847
The only way right now to successfully unlock a vault after entering a wrong password is to actually kill the application and restart which becomes tedious if you have fat fingers at times :/

[2019-03-27 07:19] DocBox12 opened #860 "There is no dialog window with the message that the crypt has been removed"
# Basic Info

I'm using Windows / macOS / Linux / … in version: …

- operating system: openSUSE Tumbleweed
- GUI: plasmashell 5.15.3

I'm running Cryptomator in version: …
(You can check the version in the Cryptomator settings.)

1.4.6 appimage

# Description

## Describe the bug

After clicking on the delete crypt icon, there is no full window with the message if I want to delete the given crypto

[2019-03-28 03:17] vrjvrjvrj commented on #791
I am using the latest 1.4.6 version with Dokany on my desktop PC and laptop (both running WIn10 Home - fully updated) and have this problem only on the laptop.  Usually happens when I leave the laptop idle for a while.  However, I noticed one very interesting item -- on the PC, the decrypted drive mounts as a *Network* drive, while on the laptop it is a *Device* drive.   To test this out, I downgr

[2019-03-28 11:48] andreasresch commented on #674
I can confirm this issue on macOS Mojave 10.14.3 and Cryptomator 1.4.6.

I ran into the same problem today: Only the first three vaults are mounted, the fourth is shown unlocked, but is not mounted until on of the other three is closed. After that, the fourth is mounted automatically without any further action required. The fourth vault cannot be locked until it is mounted correctly with above pro

[2019-03-28 15:01] whitephoenix117 commented on #791
Which revision of Dokany were you using in each case?

[2019-03-28 17:43] TimetravelerDD commented on #791
@vrjvrjvrj: 1.3.x is using webdav. This is why it didn't crash. This threat is only about dokany

[2019-03-30 20:01] gleanfield opened #861 "Git repos copied into Cryptomator do not work"
## Description

In Debian Linux, git is not working within Cryptomator (`cryptomator-1.4.6-x86_64.AppImage`) vaults when the git repo is:
1) initially created outside of Cryptomator, and
2) has at least one commit outside of Cryptomator, and
3) is copied into a Cryptomator vault **(via GUI. See below for solution with `cp` or `copy`)**

When running `git status` in the git repo located in a Crypto

[2019-03-30 20:19] vrjvrjvrj commented on #791
Silly me. When I stepped down to 1.3, it obviously flipped back to Webdav.  @whitephoenix117 - I was using the version of Dokany which came with 1.4.6.  When I looked in the App list, it was an older version than what is on the Dokany website.  I installed the latest (had to remove the previous version first as it said the latest version *was* on).  Have been tested the past two days and, fingers

[2019-03-30 21:03] overheadhunter commented on #861
Duplicate of #753

[2019-03-30 21:05] overheadhunter commented on #753
Reopen, since this issue seems not yet fixed (see #861)

[2019-03-30 22:56] gleanfield commented on #753
In summary: since this issue was initially posted on Nov. 6, 2018, the issue of creating a git repo **inside of Cryptomator has been fixed**. What I just discovered is that creating a git repo **outside of Cryptomator and then copying it into Cryptomator does not work**. (see https://github.com/cryptomator/cryptomator/issues/861 for detailed steps to reproduce.) Thank you for taking a look at this

[2019-03-31 08:30] overheadhunter commented on #753
Ok fair point, let's undo the issue merging and reopen #861.

[2019-03-31 08:30] #753 closed

[2019-03-31 08:33] overheadhunter commented on #861
works on macOS btw

[2019-03-31 09:08] BRick314 commented on #861
I encountered the same problem when I tried to copy gitfolder with `rsync -a gitfolder/ [DEST]` or using the copy function of the Nautilus GUI.
However, when I do `copy -R gitfolder/ [DEST]`, it seems to be working fine. It also works for an existing git folder with approximately 50 commits

[2019-04-01 07:22] luixxiul commented on #367
I've not digged well but it looks to me that 2fa authentication with Yubikey could be implemented with "Challenge-response" mode described here: https://www.yubico.com/products/services-software/personalization-tools/challenge-response/. This solution has also been implemented by KeePassXC.

[2019-04-01 07:39] rdoering commented on #367
That's not rocket science but it is state of the art security.

Suguru Hirahara <notifications@github.com> schrieb am Mo., 1. Apr. 2019,
09:22:

[2019-04-01 19:20] andreasresch commented on #674
Maybe a hint:
The console command "mount" shows the volumes
Cryptomator@osxfuse0 ... vault1
Cryptomator@osxfuse1 ... vault2
Cryptomator@osxfuse2 ... vault3

and stops numbering, so no osxfuse3 is appearing. Instead on locking one of the other vaults, the corresponding "slot" "osxfuseX" gets released and instantly used be the fourth vault.
Cryptomator@osxfuse1 ... vault2
Cryptomator@osxfuse2 ... va

[2019-04-02 11:30] andreasresch commented on #674
Thanks for reopening the issue.
If I can help by anything and provide logs please let me know.

[2019-04-02 14:53] infeo opened #862 "Overwriting already existing file fails"
## Basic Info

I'm using Windows in version Windows 10 Enterprise N 1809

I'm running Cryptomator in version: 1.4.6

## Description
Files cannot be overwritten in the file explorer several times.

Steps to reproduce:
1. Open a vault and place the file `test.txt` into it
1. Alter the file a little (e.g. by writing something into it)
1. Copy the file again into the vault

Expected result: Dialogue w

[2019-04-03 08:44] infeo commented on #862
depends on https://github.com/cryptomator/cryptofs/issues/45

[2019-04-03 11:22] Handwrit commented on #788
I'm on 18.04 as well, and I'm getting the same error, with release 1.4.6. I don't think it's accurate to consider Cryptomator a Linux application. It may work on some exotic distros, but not the most common one.

[2019-04-03 11:42] infeo commented on #862
will be closed when cryptofs is updated to 1.8.0

[2019-04-03 14:58] #847 closed

[2019-04-03 17:07] gleanfield commented on #861
I have tested the solution from @BRick314 and it seems to work! On Debian, note that `cp` is required instead of `copy`:

`cp -R gitfolder/ [DEST]`

Using the above approach, I've copied 10+ git repos of varying complexity into Cryptomator and no longer have any issues with `git status`, `git add`, `git commit`, etc. after the repos are inside of Cryptomator.

@BRick314, thanks for the clever solu

[2019-04-03 18:55] franzmueller99 commented on #824
Hallo, still the same problem with 1.4.6.

[2019-04-04 08:44] t0rv1c commented on #846
Same here...

[2019-04-06 11:47] warmup72 commented on #852
Is there a plan to set up tagging or should I close the issue?

[2019-04-06 14:32] overheadhunter commented on #852
Don‘t close the issue until we decided whether it can be fixed. At the moment we don‘t know all the options how to support extended attributes in a cross platform manner.

[2019-04-06 15:18] warmup72 commented on #852
Thank you for the reply!
For Your Info - there must be a way, because in gocryptfs the fiel-tagging is possible.

[2019-04-06 15:18] warmup72 commented on #851
Another hint for the folder-icons.
Boxcryptor did not crypt die icon?-file. Maybe this could a way?

[2019-04-07 15:35] pirafrank opened #863 "add "lock all open vaults" button"
feature request:
it would be handy to have a button to lock all open vaults at once.
Thank you

[2019-04-08 17:23] almschmid opened #864 "Corrupted PDFs that cannot be deleted (nor exported from vault)"
## Issue Checklist
Checked the alternative sources but couldn't find the same issue fully covered.

It's similar to #219 , but concerns multiple files and not folders.
The files nor the folder are "write protected" as in #776 . Also, mounting the vault with WebDAV instead of dokany doesn't help.
The description in #818 suggests the files shown in the vault to 'exist', the behavior in this issue su

[2019-04-08 19:33] overheadhunter commented on #864
There is a problem with the access rights to some of the ciphertext files: `d\75\Z4IHMDP5QFSSU65NW55JLB3D2SHAUP\YTCCSKY4HJ5EP5CRRT4CAJIHX6ZJQWOL7O2LKDFQGDJA23NVJNCKVYWZEJUI3NPKNNIODHESN5JNWIY=` can not be deleted. Since you already checked that the file is not write-protected, this might indicate that another process is accessing it.

The Dropbox sync client doesn't normally interfere (assuming yo

[2019-04-09 08:37] tobihagemann commented on #852
I'm pretty sure that extended attributes aren't encrypted at all in gocryptfs. They're just inherited from the ciphertext file.

[2019-04-09 08:53] warmup72 commented on #852
Okay I will check this tonight but I think it´s not the point of supporting tags
Using the Cloud as filebased dmc with (e.g. eaglefiler, docfetcher, tagspaces, ...) needs the function of tagging.
Also boxcryptor has this function - and hopefully there is a possibility for crytomator to set it up!

But:
If Cryptomator is not supporting this feature I think there must be an info, because during copy

[2019-04-09 11:49] franzmueller99 commented on #824
Is there anything I can do? I cleared the font cache in Windows 10. But nothing helps.

[2019-04-10 01:00] speedfire514 commented on #776
I experienced that issue as well which can be kind of scary considering how valuable the files we save into a vault are.
For me, as already said earlier in this thread, saving email attached PDF files from windows 10 outlook client corrupted the files once decrypted in the vault. Can not open the file, text edit says the file is 0 byte, renaming tells the name is too long and deleting files and fo

[2019-04-10 09:50] almschmid commented on #864
Sounds like also a good idea. I'm curious how that turns out.
Thank you for your valuable efforts.

[2019-04-10 15:08] infeo commented on #791
Possible fixed by updating [cryptomator/dokany-nio-adapter](https://github.com/cryptomator/dokany-nio-adapter) to 1.1.5.

[2019-04-10 15:12] vrjvrjvrj commented on #791
Thanks! Will try that. I am wondering if the issue is with the Thinkpad X1C
6th Gen that I use.  I do not have this issue with three other PCs/Laptops
I tried it on.  Have now switched to WebDAV and that does not have this
issue, but it DOES have an issue with syncing files that are being edited /
saved with MS Office.  Has no issues with copying/pasting within Windows
Explorer.  Will try the new

[2019-04-11 06:16] tmertens opened #865 "Files Orphaned or Lost When Two Synced Machines Create Same Directory"
## Summary

Creating the same named file in two out of sync machines will result in one machine's contents in the same-named folder to become orphaned when the out of sync machine(s) re-synchronize.

## Expected Behavior

When the same directory is created on two separate, out of sync machines, the contents of the directories should be merged together when synchronization completes.

## Basic Info

[2019-04-11 08:07] timmaj commented on #791
Anyone tried out @infeo's hint, yet?

@vrjvrjvrj: I have the problem on a laptop and on a stationary PC. I do not have the impression that it is due to a bad setup in any way.

[2019-04-11 09:21] infeo commented on #791
@timmaj we didn't included the new dokany-nio-adapter library into cryptomator until now. (;

To give a better insight into the bug: Using dokany for each action on a ressource (directory or file) in the vault a handle/channel is opened. Normally this handle is also closed and removed from the handle manager, but there was an edge case where one reads from a file via the handle but afterwards it i

[2019-04-11 09:24] timmaj commented on #791
A memory leak with complex ressource allocation, leading eventually to a virtual machine Error? Now that is really nasty. But good that you are on it!

Looking forward to the update.

[2019-04-12 08:37] overheadhunter opened #866 "Update JavaFX to version 12"
Updaten OpenJFX from 11.0.2 to 12. See [release notes](https://github.com/javafxports/openjdk-jfx/blob/89cac6693b5b8370ce7abbb154ed96244fefbea2/doc-files/release-notes-12.md).

[2019-04-12 09:52] overheadhunter commented on #853
While this is not yet fixed in the JDK, it should be resolved in combination of FUSE and CryptoFS in commit cryptomator/fuse-nio-adapter@46903e2.

Will be closed by updating fuse-nio-adapter to 1.1.2.

[2019-04-12 10:25] #776 closed

[2019-04-12 10:25] #791 closed

[2019-04-12 10:25] #837 closed

[2019-04-12 10:25] #866 closed

[2019-04-12 10:28] timmaj commented on #791
Any plan when this goes into the release?

[2019-04-12 10:42] #853 closed

[2019-04-12 10:46] overheadhunter commented on #846
We're now using GTK2 again, fixed in cryptomator/cryptomator-linux@ddd520c.

[2019-04-12 10:46] #846 closed

[2019-04-12 11:28] overheadhunter commented on #865
The two directories can not that easily be merged automatically due to different authenticated data mixed into the filename encryption.

However, what _should_ happen is, that you get `Directory` and `Directory (conflict xyz)`.

@cryptomator/libraries To be verified and debugged.

[2019-04-12 12:18] overheadhunter commented on #860
Can you retest with 1.4.7? This issue might be related to #846 or might got fixed with #866.

[2019-04-12 12:19] overheadhunter commented on #850
Can you retest with 1.4.7? This issue might be related to #846 or might got fixed with #866.

[2019-04-12 12:57] DocBox12 commented on #860
In 1.4.7 version show dialog window work good. Thank you for a repaired bug.

[2019-04-12 13:17] Stk2329 commented on #850
Unfortunately it is still there:

![still_there](https://user-images.githubusercontent.com/33157936/56040090-f2394480-5d35-11e9-94ea-93474b93b50d.png)

[2019-04-12 13:25] overheadhunter commented on #860
Hmmm this might be similar as in #656. We fixed it for the main window by hard coding the window dimensions before showing it (commit 5f11e1a):

https://github.com/cryptomator/cryptomator/blob/5f11e1aa8b2fbe705f6837761c7499d1e80f1a02/main/launcher/src/main/java/org/cryptomator/launcher/MainApplication.java#L26-L27

[2019-04-12 14:47] overheadhunter commented on #824
While I still think `-Dprism.order=sw` is currently our best approach, you might also want to update to 1.4.7, because we've updated to JavaFX 12 (#866). I didn't find anything in the release notes regarding font rendering on windows, but it's worth a try.

[2019-04-12 15:01] overheadhunter commented on #865
The conflict detection mechanism works as designed. I verified it manually as follows:

1. Create empty vault.
2. Create directory `test` inside vault and optionally place a file in it to identify the directory later on.
3. Search for ciphertext file inside the `d` directory that begins with `0` and move it out of the ciphertext structure (e.g. onto your desktop).
3. Create another directory named

[2019-04-13 10:31] infeo opened #867 "Timestamp set to current time when file is moved into the vault"
## Basic Info

I'm using Windows 10 Pro, 1809
I'm running Cryptomator in version 1.4.7
I'm mounting the vault with Dokany (Lib. Ver. 1.2.2.1000)

## Description
When a file is moved into the vault via cut&paste in the explorer, its timestamp is changed to the current time.
~This does not happen when you copy a file into the vault.~

Steps to reproduce:
1. Create a file `test.txt` and make a copy `

[2019-04-13 15:20] overheadhunter commented on #867
Regression might be caused due to changes in how CryptoFS handles file channels. Might also be a regression in Dokany, though. I think we should start testing both via mirroring.

[2019-04-14 10:41] pquan opened #868 "Dokany drive lost no resume from sleep. Cannot be used until reboot."
## Basic Info

I'm using Windows 10
I'm running Cryptomator in version: 1.4.6 (but present since 1.4.2 at least).
Cryptomator uses *dokany*

## Description
Every time a notebook/tablet/pc goes to sleep with an open vault, the drive letter is lost on resume.

It's impossible this is a major nuisance when the drive letter is important for other programs (cloud, documents, you name it).

Typically, I

[2019-04-14 11:54] kn1g opened #869 "Cryptomator just does not work and freezes"
## Issue Checklist

## Basic Info

I'm using Windows 10 pro

I'm running Cryptomator in version: Tested it with latest and the versions before down to 1.3.4

## Description

I unlock my vault. After some minutes everything seems fine but I cannot access any files anymore. Unfortunately I "lost" (It's backuped somewhere but a real pain to get all the data back) a lot of data when I tried to move it

[2019-04-14 21:25] tmertens commented on #865
@overheadhunter I'm not sure exactly, I'll take a look and get back to you.

If the directory/file naming is deterministic across clients for the same named file/directory in the same vault, how do we end up with a directory created by one client causing the contents of the same named directory to disappear for the other? I would think there should be some way of not losing the references when the

[2019-04-15 07:45] overheadhunter commented on #868
May be related to #708. Just for the sake of completeness, can you please also test 1.4.7?

[2019-04-15 11:13] j-bro commented on #869
I started seeing the same issue today. I'm running Windows 10 Enterprise version 1709. I was on Cryptomator version 1.4.3 and I updated to 1.4.6 and the issue still occurs. I'm using Dropbox to sync my vault. Nothing unusual in the logs either, pretty similar to what @kn1g posted. My machine did some Windows updates over the weekend so it may be related to that..

[2019-04-15 11:42] overheadhunter commented on #869
@j-bro Are you too using WebDAV? Also with Google File Stream?

Are vaults located on "normal" locations working correctly? How is Dokany working for you?

[2019-04-15 11:48] overheadhunter commented on #865
While the two directories have the same name, they have different IDs. The ID is stored in the file beginning with `0...` from [step 3 of my comment above](#issuecomment-482607467). The file name of said file will be deterministic.

I.e. since both your computers create the `0...` file with the same name, any sync tool will (or at least it should) create a conflict. This conflict should then be de

[2019-04-15 11:50] overheadhunter commented on #849
Since there were some changes in 1.4.7 (expecially #866 and #846), can you please retest this issue with 1.4.7?

[2019-04-15 11:52] overheadhunter commented on #792
@Firemad03 Can you please retest this with versions 1.4.6 and 1.4.7?

[2019-04-15 11:54] overheadhunter commented on #725
Write protected files should now be fully supported, @gonboy Can you please retest this with 1.4.7?

[2019-04-15 12:08] walma7 commented on #849
@overheadhunter
Sry, nothing changed on Win10

[2019-04-15 14:16] lestephane commented on #757
This issue was closed after 1.4.3 was released. I initially tried symlinks on 1.4.6 and failed.
After I saw some symlink related changes in 1.4.7 release notes, i decided to try again today.
No luck:

[code]
- file size reported is wrong
- unable to remove

Is this a regression? Or is it known to be unsupported? I just wonder what the official stand is.

I'll be happy to provide more information o

[2019-04-15 14:39] j-bro commented on #869
@overheadhunter I created a local vault on my desktop and I'm seeing the same issue. I can add a few files but after that the vault drive becomes inaccessible until I lock the vault and unlock it again. I believe it is using Dokany as this appears in the logs:

[code]

[2019-04-15 17:52] infeo commented on #848
I could not reproduce this issue anymore with the current version 1.4.7 of Cryptomator and Thunderbird Portable (Ver 60.6.1)

[2019-04-15 17:52] #848 closed

[2019-04-15 19:05] Bubu92 opened #870 "Unsecured Connection prompt on macOS 10.14.1"
## Issue Checklist

None

## Basic Info

I'm using macOS in version: 10.14.4

I'm running Cryptomator in version: 1.4.7

## Description

I cannot open the vault because a pop up message about an "Unsecured Connection".
Even if I say connect nothing happens. Big issue because I cannot access my files anymore.

## Attachments (optional)

Screenshots and logs
[Cryptomator.zip](https://github.com/cryp

[2019-04-15 19:16] vcxy commented on #867
I've same error when **copying** old files in the vault (cryptomator v1.47, dokany used). with older version (cryptomator v1.46, dokany used) the error does not occur

[2019-04-15 19:44] cccapon commented on #837
Solved!  Thank you for your help.

[2019-04-15 21:20] infeo commented on #867
I updated my description to make the process clearer.

@vcxy What do you mean with "old" files? How do you copy the files into the vault (terminal, drag'n'drop, etc)? And what is your dokan library version?

[2019-04-15 21:26] infeo commented on #821
@sindzicat can you retest if the issue persist with Cryptomator [1.4.7](https://github.com/cryptomator/cryptomator/releases/tag/1.4.7)? We made several bugfixes in dokany and read-only files are now supported.

[2019-04-15 21:30] infeo commented on #844
@arunsathiya we updated in the latest Cryptomator release ([1.4.7](https://github.com/cryptomator/cryptomator/releases/tag/1.4.7)) the version of the gui library (the new version includes also bug fixes for macOS), maybe it resolves the problem. Can you retest with 1.4.7?

[2019-04-15 22:13] infeo commented on #827
@Nighty42 Is this still an issue when you use Cryptomator [1.4.7](https://github.com/cryptomator/cryptomator/releases/tag/1.4.7)?

[2019-04-15 23:08] overheadhunter commented on #822
Can you retest this with 1.4.7? There have been a lot of improvements to Dokany-based mounts.

[2019-04-15 23:11] overheadhunter commented on #870
Duplicate of #684.

[2019-04-15 23:11] #870 closed

[2019-04-15 23:12] overheadhunter commented on #870
I can not tell you why it still doesn't work if you choose to connect anyway, but by using FUSE-based mounts you can avoid any WebDAV-specific issues.

[2019-04-15 23:16] overheadhunter commented on #869
@kn1g Do you agree to @j-bro's results? Then we can reduce things like Google File Stream and the WebDAV client as the cause.

The question is then still, why file access gets stuck. I can not reproduce this issue so far. The explanation might be linked to the combination of certain configurations or 3rd party softwares.

[2019-04-16 02:55] rwaldspur commented on #182
Hi, are there any ways within Cryptomator to change the FUSE mount options under macOS without a recompile?

I see the mount options, and the stuff that has been turned off, I'd like to try.  Perhaps there is a config file I can tweak?

In ~/Library/Application Support/Cryptomator/settings.json
... I don't see anything that would seemingly help.

I'm in a macOS only environment, and would prefer *

[2019-04-16 05:37] sindzicat commented on #821
Fantastic! Cool! My problem is solved now!

Many thanks!!! :+1:

[2019-04-16 05:37] #821 closed

[2019-04-16 06:46] gitoss opened #871 "Windows x86_32 (32bit builds)?"
After not finding a closed issue, I have to mention the elephant in the room:

Since release 1.4 there are only 64 bit builds available, though both jre/jdk 11 and 12 https://github.com/AdoptOpenJDK as well as Dokan https://github.com/dokan-dev/dokany/releases are available as 32 bit.

Dropping 32 bit Windows OS is unfortunate as there are still systems out there (my 2 GB ram laptop, for one) :-\

[2019-04-16 06:49] gitoss commented on #871
Right, after further searching I guess this is due to missing OpenJFX support? Doh.

[2019-04-16 06:49] #871 closed

[2019-04-16 06:52] gitoss commented on #871
... though there seems to be unofficial builds: https://www.mediafire.com/file/2jfij4tj83702md/javafx-sdk-12-32bit.zip/file

[2019-04-16 07:19] Nighty42 commented on #827
I don't recognized any unsual CPU load if I hide or show the graph now - great work! The issue can be closed.

[2019-04-16 07:25] vcxy commented on #867
@infeo I mean all files older than now (eg 1 minute, 1 day, etc.). I copy the files via drag'n drop or CTRL + C and STG + V in Windows Explorer into the vault. Then all copied files in the vault have the wrong timestamp (timestamp of the copy time instead of the original timestamp). Dokany version is v1.2.1.1000 / x64). occurs both under: Windows 7 (x64) and also with Windows 10 (x64).

[2019-04-16 07:54] #827 closed

[2019-04-16 08:28] tobihagemann commented on #182
@rwaldspur This is the wrong issue, there is already a feature request for custom mount options here: #802

[2019-04-16 08:44] bfester commented on #822
Yes, the issue persist on 1.4.7.
I've stopped using custom mount points and use drive letters again.
Not optimal but it works.

[2019-04-16 12:32] Bubu92 commented on #870
Wow! Impressive, not discussion allowed. I bought the iOS application and gave $25 for macOS application, but with such support behaviour, sure I will not give you an extra $.

[2019-04-16 12:44] overheadhunter commented on #870
Be careful how you behave in the public, people can see you. Nobody disallows any discussion, I merely linked to an existing issue. That's called moderation.

[2019-04-16 12:46] infeo commented on #870
@Bubu92 did you looked into issue #684? it is stated quite clearly there why we can't this issue with WebDAV

[2019-04-16 15:20] arunsathiya commented on #844
I confirm that the latest version 1.4.7 works fine. Thank you for the update! I'll close this report.

[2019-04-16 15:20] #844 closed

[2019-04-16 15:33] overheadhunter commented on #852
Depends on cryptomator/fuse-nio-adapter#35

[2019-04-16 15:33] overheadhunter commented on #851
Depends on cryptomator/fuse-nio-adapter#35.

[2019-04-16 15:41] Bubu92 commented on #870
Be careful? Should I be afraid? Moderating a discussion does mean to close the discussion. I did not offend or insult anyone. I have nothing to reproach myself with. I only mentioned my dissatisfaction regarding the way my concern was managed. I guess this my right even if you do no like it.

**Problem:**
Back to my issue. Up to version 1.3.2 I did not face any concern.
My problems starting since

[2019-04-16 16:06] overheadhunter commented on #870
Well, I guess you don't have to be afraid that I track you down. But you should indeed be afraid that your attitude will some day get you into trouble, if you immediately start ranting as soon as you don't get what you want. If you want help (even if this is the wrong place), you should remind yourself that you're talking to humans. Most humans will then at least try to help you. But not, if you s

[2019-04-16 16:45] Bubu92 commented on #870
Cryptomator is not totally free as iOS version is a commercial product that you need to purchase. Otherwise you could also ask for donations like other developers do.

My language was correct, I did not use any F or other words. Sorry if you did not like my attitude or felt offended or abused. Be assured I felt the same. Your attitude was far from being nice. BTW, never make a threat to some you d

[2019-04-16 17:25] Bubu92 commented on #870
Yes I did, but I did not want to install Fuse. Thanks anyway.

[2019-04-16 18:20] IAMtheIAM commented on #400
2 years later, it seems this is a useful feature request. @markuskreusch Do you think it's worthy enough to add?

[2019-04-16 20:02] timmaj commented on #791
I just installed 1.4.7 and gave it a try. Crash of the vault just like before after a few minutes of running time. I am not puzzled; did I forget about anythhing, or could that be a hint that the defect is not yet found for good?

[2019-04-16 20:39] overheadhunter commented on #791
When investigating the issue, we noticed that we were only able to crash the drive by literally flooded the vault in synthetic test cases with ludicrous amounts of data read and written exceeding any practical use case by far. At the same time we lowered the max heap space (before it was too high).

After fixing the issue, the resource allocation behaved normal the whole time. I.e. it can not be t

[2019-04-16 21:24] kn1g commented on #869
Sorry guys, I have no clue about dokay or webDav. But AFAIK Donkay is only used in the recent versions. And I tried older versions (1.3.4) also. The bug exists there, too.

I have this bug actually for quite some time. I was just pretty annoyed and always thought the next release will fix it (or it is my setup). Let me know if I can give you more infos or help to reproduce the bug.

I mean we can

[2019-04-17 04:13] rwaldspur commented on #182
Thanks for clarifying.

[2019-04-17 06:48] timmaj commented on #791
My case does not have such reads; the crash comes after at most a few MiB of data written and a few hundred directories traverersed. All of that within minutes, not a mere seconds. I also did not observe a high memory footprint, although I did not use any profiling tools but just looked at the Task Manager in Windows.

My software combination is:
- Windows 10 64bit (fully patched, no beta patches)

[2019-04-17 06:56] TimetravelerDD commented on #791
version 1.4.7 brought a **huge** bump not only in stability but also performance is significantly improved for me. Many thanks for that!

However it's not completely gone yet. My vault still crashes occasionally during normal use.

[2019-04-17 12:31] infeo commented on #791
@timmaj You can indeed help us tracking the error down. Can you follow [this procedure](https://github.com/infeo/dokany-nio-adapter/blob/develop/HOWTO_Start_Mirror_Test_Class.md) and send us the corresponding log file? (per mail/ per PM in our forum/...)

[2019-04-17 14:37] infeo opened #872 "Assigned vaultt letter changes automatically if reserved"
## Basic Info

I'm using Windows 10 Enterprise N, Ver. 1809
I'm running Cryptomator 1.4.7

## Description

The assigned drive letter of a vault is changed automatically, if the dirve letter is already in use.

Steps to reproduce:
1. Create two vaults `v1` and `v2`
2. Assign both vaults the _same_ free drive letter (e.g. `F:`)
3. Unlock vault `v1`
4. Have a look at the advanced settings of vault `v

[2019-04-17 14:39] j-bro commented on #869
Hi @kn1g , are you able to reproduce the bug with a local vault on your filesystem, i.e. using a directory not synced with Google FileStream?

[2019-04-17 14:46] infeo commented on #872
The solution is simple, just some code change here:
https://github.com/cryptomator/cryptomator/blob/8def0b2060001cf378f0ed20a90f9ee5c2cee349/main/ui/src/main/java/org/cryptomator/ui/controllers/UnlockController.java#L379-L392
But it has the consequence how to handle the case if the drive letter is reserved. Either
- the unlock & mount fails or
- a pop-up is shown, asking the user to abort unlock o

[2019-04-17 14:48] infeo commented on #868
@pquan I cannot reproduce this on three different machines. Can you try out the mirror example provided by dokany? In our forum you find a [guide](https://community.cryptomator.org/t/for-version-1-4-0-and-higher-is-it-dokany-or-just-me-or-maybe-cryptomator-p/2507) to use it. Before exiting the program (step 10 in the guide) close the lid/send your device to sleep/etc and after the reboot test if t

[2019-04-17 19:45] timmaj commented on #791
@infeo I will try to do this over the weekend. Quite some prerequisites to fullfil...

[2019-04-17 22:34] #818 closed

[2019-04-18 06:52] pquan commented on #868
I was also under the impression that the issue has been fixed on 1.4.7. However I still have it on two different computers (my main development notebook and a surface pro which I carry around).

It seems that selecting "sleep" in windows start menu and then waking up shortly after seems not enough to trigger it.

However, yesterday evening I left my surface in "sleep" by pressing the power key and

[2019-04-18 07:50] luixxiul opened #873 "Possible imcompatibility issue with KeePassXC"
### Description of the issue:

It *might* be an incompatibility issue with KeePassXC, the open source password manager. I've reported the issue on https://github.com/keepassxreboot/keepassxc/issues/3004.

Its member claims that the issue I reported there cannot be reproduced nowhere but on the virtual drive created with Cryptomator.

https://github.com/keepassxreboot/keepassxc/issues/3004#issuecom

[2019-04-19 08:54] pquan commented on #868
@infeo I did the dokany mirror test on the surface pro. I mapped a local folder via mirror, and also unlocked two vaults with cryptomator (total 3 drive letters).

After (long) suspend the Dokany mirror was OK, but cryptomator vaults were NOT accessible. The drive letters were there, but empty.

Side note: I noticed that running on battery the sleep time required is much shorter than when running

[2019-04-19 09:00] pquan commented on #868
Actually not. I don't have issues when switching users. Only when the computer goes to sleep for variable periods of time (not immediatly).

[2019-04-19 22:53] tronghuy commented on #791
My set up is almost exactly like @timmaj and I'm getting the same issue.

Windows10 64b, Google File Stream, Cryptomater 1.4.7, FreeFileSync.
My vault is ~100-150 GB completely uploaded to Google. My GFS cache is ~50 GB.

When analyzing in FreeFileSync, if files need to be downloaded from GFS for more than a few seconds, the vault will crash.

[2019-04-20 14:26] infeo commented on #868
In this [article](https://docs.microsoft.com/en-us/windows/desktop/Power/system-power-states) Microsoft describes the different power states of windows. After hibernation(S4) comes only Soft Off(S5). Maybe this power state causes the drives to unmount/not accessible anymore. Unfortunately i don't know a way to force a system into this state.

[2019-04-20 15:21] pquan commented on #868
Perhaps try to just enable balanced power profile and allow the computer to sleep to save power. Then leave it overnight. For me 30 minutes - 1 hour is enough on both my notebook and surface pro. I do not have a desktop system to test. Perhaps it's something related to how notebooks save power.

Hibernating straight from the "start" menu will not cause a problem. It's connected to the fact that th

[2019-04-20 16:25] infeo commented on #868
I'll do the "overnight"-test and see if i can trigger the bug.

In the mean time, you can try out the basic mirror example of our [dokany-nio-adapter](https://github.com/cryptomator/dokany-nio-adapter). A manual to compile and execute it can be found [here](https://github.com/infeo/dokany-nio-adapter/blob/develop/HOWTO_Start_Mirror_Test_Class.md). The created log file will be very exhaustive, so j

[2019-04-20 20:46] infeo commented on #869
@j-bro In your log file is the reported dokany version 100, while the current one is [122](https://github.com/dokan-dev/dokany/releases/tag/v1.2.2.1000). Maybe an update of dokany can fix your problem?
Additionally, the current version of Cryptomator is 1.4.7 with improved stability and speed, so there is also potential to resolve your issue.

[2019-04-21 08:39] infeo commented on #868
Also with letting the laptop in hibernation overnight i had access to the vault the next day. Thus i still can't reproduce it.

[2019-04-22 02:33] j-bro commented on #869
Hi @infeo , I updated dokany to 1.2.2 and Cryptomator to 1.4.7 and I am still seeing the issue. Concerning the log displaying donkany version 100, it also still appears after installing dokany 1.2.2, so I'm not too sure where that it coming from. I made sure to uninstall the previous version and restart my computer before installing 1.2.2. I also did a full reinstall of Cryptomator.

[2019-04-22 08:27] phuonghuynh opened #874 "Unable to copy Cryptomator.app to Vault using WebDav (on Mac Mid 2015 running Mojave)"
As the title, I am unable to use Cryptmator v1.4.7 to encrypt a mac application, including "cryptmator.app" as in the [video](http://recordit.co/16AIzflCKu)

Fuse driver can do encrypt it but WebDav can not (tested already). Anyone knows what issue is ?

[2019-04-22 08:41] infeo commented on #783
Depends on [#26](https://github.com/cryptomator/dokany-nio-adapter/issues/26) in the [dokany-nio-adapter](https://github.com/cryptomator/dokany-nio-adapter)

[2019-04-22 12:57] infeo commented on #869
Our adapter calls the native getVersion() function of the dokany library, so it can't be wrong.

@j-bro The outdated dokany version must be the reason of your crashes because the minimal version of dokany which our adapter supports is 1.1.X .

To ensure that the old dokan version is removed, check after uninstallation & restart if the file `dokan1.dll` exists in the directories `C:\Windows\System3

[2019-04-22 14:45] j-bro commented on #869
Yeah I agree that the getVersion() function directly calls the native library. I re-did everything and confirmed that both `dokan1.dll` files were removed after reboot, but Cryptomator is still logging dokany version 100 after I re-installed everything. I made sure to check the version of dokany installed and it is 1.2.2 as you can see in the screenshot below (both `dokan1.dll` files in `C:\Window

[2019-04-23 04:49] lolc commented on #830
Any update?

[2019-04-23 07:37] cbartosiak commented on #800
Thanks, it looks like it is the reason! Both machines have ESET Internet Security installed. When I turn it off, the problem disappears. I will investigate it more...

[2019-04-23 16:39] gluxon opened #875 "File Corruption: Header becomes NULL intermittently after saving in Atom Text Editor"
## Basic Info

- macOS 10.14.4
- Cryptomator 1.4.7 (1353)
- iCloud Drive

## Description

I've only ever noticed this issue when saving a file using the [Atom text editor](https://atom.io/). I'm not sure how Atom is saving files differently than other macOS applications, but I can consistently reproduce this issue using it.

1. Create a "test" drive.
2. Open the test drive in Atom by adding a new

[2019-04-23 16:48] gluxon commented on #875
Potentially relevant file: https://github.com/cryptomator/cryptolib/blob/develop/src/main/java/org/cryptomator/cryptolib/v1/FileHeaderCryptorImpl.java

[2019-04-23 16:52] overheadhunter commented on #875
I can reproduce this issue. Will debug it immediately.

[2019-04-23 17:12] guy-teube opened #876 "Sort the listed vaults"
## Issue Checklist

Before creating a new issue make sure that you
- searched existing (and closed) issues: https://github.com/cryptomator/cryptomator/issues
- searched the knowledge base: https://community.cryptomator.org/c/kb
- have read the support guide: https://github.com/cryptomator/cryptomator/blob/develop/SUPPORT.md
- have read the contribution guide: https://github.com/cryptomator/cryptom

[2019-04-23 18:17] overheadhunter commented on #875
Found the cause, we work on a bug fix asap.

[2019-04-23 18:42] gluxon commented on #875
Wow, thanks for investigating that so fast! Good followup issue in cryptofs as well. I enjoyed reading what the cause was.

[2019-04-23 20:07] overheadhunter commented on #875
Will be fixed when updating CryptoFS to version 1.8.1. Going to release a hotfix release for Cryptomator within the next 24h.

[2019-04-23 20:11] overheadhunter commented on #876
At the moment it is not planned to add a sort button. You can bring the vaults in any order you want, manually. All you need to do is drag'n'drop them into the desired order as described here: [How do I reorder vaults in my list?](https://community.cryptomator.org/t/how-do-i-reorder-vaults-in-my-list/2978?u=overheadhunter)

[2019-04-23 20:11] #876 closed

[2019-04-24 10:45] overheadhunter commented on #860
Sadly, you can not set the dimentions of these kinds of dialogs manually. We need a different fix.

[2019-04-24 12:36] guy-teube commented on #876
No filter either?
The display is not easy to see when you have a lot of vaults.

[2019-04-24 12:43] overheadhunter commented on #876
Well not in the current design, at least. We're planning a major redesign with 1.5.0. If you want to post your ideas, there is an open discussion over [here](https://community.cryptomator.org/t/ui-redesign-thread/2850?u=overheadhunter). :wink:

[2019-04-24 12:44] overheadhunter commented on #873
Can you please retest this with 1.4.8?

[2019-04-24 12:54] guy-teube commented on #876
Done, thank you :+1:

[2019-04-24 13:23] infeo commented on #783
fixed with #b8fa226163e3ed660cc18170dd3e1b3b9f7b1e8d

[2019-04-24 13:23] #783 closed

[2019-04-24 19:40] gleanfield commented on #875
Thanks for posting the issue and the quick fix. I was having the same issue on Debian with markdown files and Sublime Text. The file corruption issue seems to be resolved with `cryptomator-1.4.8-x86_64.AppImage`.

[2019-04-24 22:41] overheadhunter commented on #800
Closing this issue, as apparently 3rd party software is accessing the file and therefore causes bytes being read. In this case Cryptomator works as designed.

[2019-04-24 22:41] #800 closed

[2019-04-24 22:46] overheadhunter commented on #849
@walma7 Linux and Windows UI rendering are vastly different. Also, sending Cryptomator to the system tray vs. selecting a vault in the window are two very different application states. Please open a new ticket and describe your observations there.

@Stk2329 @tibitts Can you retest on Linux, please?

[2019-04-24 22:49] overheadhunter commented on #828
@PsychoGame, @tomaszsz85 Can you please retest this with the latest version?

[2019-04-25 01:46] Stk2329 commented on #849
Currently no access to my computer, will test once I'm back. Same for other issues I opened.

Am 25. April 2019 04:31:19 GMT+05:45 schrieb Sebastian Stenzel <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2019-04-25 08:19] luixxiul commented on #873
I tested and the issue still persists on my side. There is a lot of lines `0000 0000 0000 0000 0000 0000 0000 0000` on the file opened with sublime text.

[2019-04-25 11:47] overheadhunter commented on #873
Kind of expected that. The only thing that changed with 1.4.8 was a bugfix leading to files no longer being able to be read. In this case, the file _can_ be read but contains invalid content. Nevertheless I thought it doesn't hurt to retest on the latest version.

[2019-04-25 12:37] overheadhunter commented on #111
Overwriting files (second peak of graph) is still slower than adding them initially (first peak). This is probably due to the fact that Finder is reading parts of the existing files (we can see just a little bit of read activity in the second phase).

![throughput](https://user-images.githubusercontent.com/1204330/56735976-39c4c500-6767-11e9-9a75-a2a709279f9f.png)

Nevertheless, the previous test

[2019-04-25 12:37] #111 closed

[2019-04-25 12:49] overheadhunter commented on #188
In the meantime, we have added transparent [support for FileLocks to CryptoFS](https://github.com/cryptomator/cryptofs/blob/ee67f8f64dd97ba24c5f3767b343fd86ef1ecbe4/src/main/java/org/cryptomator/cryptofs/ch/CleartextFileChannel.java#L236-L270). Please note, that on our side we are limited to the capabilities of the NIO API.

I will now close this issue, since in the meantime we have done everythin

[2019-04-25 12:49] #188 closed

[2019-04-25 12:54] overheadhunter commented on #197
Since #207 has been solved by now, this issue seems no longer relevant.

[2019-04-25 12:54] #197 closed

[2019-04-25 13:01] overheadhunter commented on #316
Can you retest this with the latest Cryptomator version and Dokany-based vaults?

[2019-04-25 13:08] overheadhunter commented on #217
Since this is nothing that can be fixed by adding a line of code, there will not be a single point in time when we can say "now we've reached our goal". I will therefore close this issue. Of course this doesn't mean we're not continuously trying to improve our resource footprint. This will be an ongoing process.

[2019-04-25 13:08] #217 closed

[2019-04-25 21:09] tibitts commented on #849
On 4/25/19 12:46 AM, Sebastian Stenzel wrote:

Neither Cryptomator 1.4.7 nor 1.4.8 did fix the high CPU problem on
Linux for me.

[2019-04-25 21:53] bilelmoussaoui commented on #729
@x80486 Is there anything left to be done here in order to ship cryptomator as a flatpak? :D

[2019-04-26 09:14] bogdancs92 commented on #755
I attest that the issue is finally corrected in the version 1.4.7. I can finally use Dokany for Cryptomator !

[2019-04-26 15:31] #824 closed

[2019-04-26 16:07] ElmarDorner opened #877 "Corrupts macOS Numbers files"
## Basic Info

I'm using macOS in version: 10.14.4
I'm running Cryptomator in version: 1.4.7 and 1.4.8 macOS desktop App
I'm running FUSE in version: 3.8.3

## Description
Error doesn't exist in Cryptomator 1.4.6.

Cryptomator vault on Dropbox.
MacOS Numbers files get corrupted (can't be opened again) or Numbers App closes immediately.

- Open vault.
- Open Numbers App.
- Create new document.
- Sa

[2019-04-26 19:54] tomaszsz85 commented on #828
I use Manjaro with kernel 4.19.34-1-MANJARO and  openjdk version "1.8.0_212".
I have tested issue with Cryptomator 1.4.7 and problem still exists. Error description is the same as for 1.4.5 version.

[2019-04-26 20:01] tomaszsz85 commented on #828
1.4.8 the same.

[2019-04-27 12:19] x80486 commented on #729
I gave it another try with [latest release](https://github.com/x80486/flathub/tree/org.cryptomator.Cryptomator), but still, `FUSE` mounts don't work:

[code]

WebDAV works fine:

[code]

I'm installing `FUSE` in **exactly the same way** `org.gnome.Builder` does :sunglasses: – like copy and paste. Maybe `MOUNT_FUSE_PATH` is not correctly set, but I would need to learn about it since I'm flying blin

[2019-04-27 20:37] #877 closed

[2019-04-27 21:36] overheadhunter commented on #873
I get an error after step 8:

![Bildschirmfoto 2019-04-27 um 23 31 32](https://user-images.githubusercontent.com/1204330/56855292-fcb62980-6944-11e9-85cb-fca2ebc2c43b.png)

Other than that I can not reproduce your bug. keepass db can be opened without any problem.

Also, I don't understand why the "upgrading from 2.4.0 to 2.4.1" step should make any difference...? Can you please elaborate what exa

[2019-04-28 01:02] yurivict opened #878 "Build fails on FreeBSD: Could not find artifact org.openjfx:javafx-base:jar:${javafx.platform}:12"
On FreeBSD version 1.4.9 fails to build:
[code]

I think it is supposed to use the pre-installed ```openjfx8-devel``` package, but it doesn't see it for some reason.

[2019-04-28 02:20] qjn1 opened #879 "Cryptomator Symbolic link issues?"
## Basic Info

Tested with Cryptomator 1.4.7 on Windows 7 and currently Windows 10

## Description

I've been trying to get it to work. Is it working on Cryptomator or is it yet to be added fully?

On windows 7 I was able to set it up, but it does not sync or ‘work’, at all. On windows 10 (Using the general tool new-item) all I get is a “Cannot find drive. A drive with the name ‘E’ does not exist.

[2019-04-28 08:47] overheadhunter commented on #879
So far symlinks have only been added to FUSE.

@infeo Or am I mistaken here?

[2019-04-28 08:49] overheadhunter commented on #878
Nope, we don't use OpenJFX8, but (as the time of writing this) OpenJFX12, which should get downloaded from a Maven repo. I can't tell you why it failed, because it _does_ exist on jcenter: http://jcenter.bintray.com/org/openjfx/javafx-base/12/

I'd suggest to simply retry the build. Maybe just a hiccup.

[2019-04-28 08:55] yurivict commented on #878
It consistently fails with the same message.
It might be because of OS-specific shared libraries that are missing for FreeBSD.

[2019-04-28 09:47] infeo commented on #879
Symbolic links work with Cryptomator.

But creating symbolic links requires admin privileges under windows. Due to security reasons only the user which started cryptomator can see unlocked vaults and therefore the command fails. You have to start Cryptomator with admin priviledges.

The feature of dropping the current-session-only-flag depends on #802 .

[2019-04-28 13:38] pomeloy commented on #862
Still experiencing the same issue.
I'm running 1.4.9

Log file:
`15:34:35.947 [Thread-1684] TRACE o.c.frontend.dokany.ReadWriteAdapter - zwCreateFile() is called for /path/to/file.ext with CreationDisposition CREATE_NEW.
15:34:35.948 [Thread-1684] TRACE o.c.frontend.dokany.ReadWriteAdapter - Try to open /path/to/file.ext as File.
15:34:35.955 [Thread-1684] TRACE o.c.frontend.dokany.ReadWriteAdapte

[2019-04-28 13:40] pomeloy commented on #862
Still experiencing the same issue. No Java Exception though.
I'm running 1.4.9

Log file:
`15:34:35.947 [Thread-1684] TRACE o.c.frontend.dokany.ReadWriteAdapter - zwCreateFile() is called for /path/to/file.ext with CreationDisposition CREATE_NEW.
15:34:35.948 [Thread-1684] TRACE o.c.frontend.dokany.ReadWriteAdapter - Try to open /path/to/file.ext as File.
15:34:35.955 [Thread-1684] TRACE o.c.front

[2019-04-28 18:06] yurivict commented on #878
I am not sure, but is the package ```openjfx12``` just missing? If it requires binaries, they wouldn't be and shouldn't be provided and should be built from port on FreeBSD.

In any case, cryptomator isn't buildable on BSDs as it is now.

[2019-04-29 07:57] overheadhunter commented on #878
Seems like OpenJFX _officially_ only exist for [Linux, Mac and Windows](https://wiki.openjdk.java.net/display/OpenJFX/Building+OpenJFX#BuildingOpenJFX-PlatformPrerequisites). There is a BSD port, but I don't know if it is up-to-date and if it can easily be used.

[2019-04-29 10:45] luixxiul commented on #873
This is the setting I use:

![Clipboard01](https://user-images.githubusercontent.com/3362943/56891053-28a4ec80-6ab6-11e9-9c2e-443167f726e9.png)

Please try again, replacing the step 4 on https://github.com/keepassxreboot/keepassxc/issues/3004#issue-432932836 with to enable settings as above.

I am not sure either, still the issue did started happening to me after upgrading to `2.4.1`, while it doe

[2019-04-29 11:03] infeo commented on #862
I confirm this. Must be an upstream bug due to the latest hotfixes in  [cryptomator/cryptofs](https://github.com/cryptomator/cryptofs).

I opened a vault with a single file `cat.jpg` in it. When i tried to copy another file outside the vault with the same name, a windows error was shown ("Invalid handle") and after that the original file dissappeard from file listing until unlocking of the vault.

[2019-04-29 12:44] #725 closed

[2019-04-29 12:44] #792 closed

[2019-04-29 12:44] #865 closed

[2019-04-29 13:20] overheadhunter commented on #862
Fix will be contained in CryptoFS 1.8.3.

[2019-04-29 13:54] overheadhunter commented on #68
Since we've updated the JDK and the underlying NIO implementation may have changed, can you pleas retest this with the latest version?

[2019-04-29 14:06] overheadhunter commented on #94
I can no longer reproduce this on macOS Mojave and Cryptomator 1.4.9, however Finder became really slow during copy. Before writing it attempts read access to files in the target vault, maybe to determine if incremental copy can be used. Anyway... Since this is a quite old issue and seems no longer reproducable, I'll close it.

[2019-04-29 14:06] #94 closed

[2019-04-29 14:21] overheadhunter opened #880 "Problems with Nextcloud's conflicting directories"
Nextcloud will prefix conflicting files, which is not properly supported for directories yet.

As a result, conflicting directories might appear as inaccessible files (not folders!) in the decrypted vault.

[2019-04-29 14:21] overheadhunter commented on #880
Details in cryptomator/cryptofs#49. Will be fixed by updating CryptoFS to 1.8.3.

[2019-04-30 18:59] purejava commented on #422
I would also love to see the password saving feature on Linux and would like to propose something like [this draft](https://github.com/purejava/cryptomator/tree/secret-service) (incomplete functionality).

[2019-05-01 12:15] Stk2329 commented on #849
Seems not be fixed for me either. More or less same behavior, maybe the load is now slightly lower when vault is unlocked and selected but the difference is small.

[2019-05-01 12:19] Stk2329 commented on #850
retested with current version 1.4.9 and is still there but since its rather minor and you plan to rework the UI anyway... maybe not so overly important.

[2019-05-02 04:40] purejava commented on #422
The code should work for environments, where GNOME's gnome-keyring is installed and configured.

There are still some things missing:
- dismiss GNOME's password entry dialog is not honored
- check for GNOME's gnome-keyring availability needs to be added

Yesterday I fiddled quite a while with the first point mentioned above, but still do not fully understand how Prompts are handled.
I'll look into

[2019-05-02 07:21] walma7 opened #881 "High CPU on Windows when minimized"
## Issue Checklist

Because issue #849 describes the heavy load on Ubuntu, this issue describes it on Windows

## Basic Info

I'm using Windows 7 and 10

I'm running Cryptomator in version: >1.4.6

## Description

Start cryptomator, select a vault and without entering a password minimize it to the tray.
Then the CPU load jumps up and will stay on a high level (in my case ~30%) when it is minimized

[2019-05-02 10:32] swiesend commented on #422
@purejava why did you went with the low-level API, instead of the high-level `org.freedesktop.secret.simple.SimpleCollection` API? Are there things missing to get it work with Cryptomator, did it not fit the purpose?

Handling the prompts is quite annoying. The `Prompt.await()` method returns the outcome of the handled prompt as custom `Completed` signal, which indicates if the prompt was handled

[2019-05-02 13:43] libertyx82 opened #882 "1.4.9 not possible to override existing Files"
Im am using Windows 10 Build 17763.rs5 (64bit)
Cryptomator Version 1.4.9 (dokany)

In an Vault i can create new Files, i can modify Files when i open it from the Vault, but then i want to override a existing File in the Vault an error appears with the Message
 "Invalid access number"

![cryptomator](https://user-images.githubusercontent.com/22996350/57079507-c1bf4780-6cf0-11e9-825b-b6a7260c8a85.jp

[2019-05-02 13:45] infeo commented on #882
Duplicate of #862

[2019-05-02 13:45] #882 closed

[2019-05-02 13:48] libertyx82 commented on #882
Sorry :(

[2019-05-02 13:55] infeo commented on #882
No problem, this can happen to the best of us (-;

[2019-05-02 13:59] libertyx82 commented on #882
Can i update CryptoFS manually to Version 1.8.3?

[2019-05-02 14:10] infeo commented on #882
Not in an easy way.

We didn't release cryptofs 1.8.3 yet, so you have to build it first and after that you need to build cryptomator with the updated dependency. And in the end you only have an executable jar-file, no exectuable. Since we are also adding some additional parameters at startup of cryptomator, this might have some less features. (path to settings, path to logs, etc...)

[2019-05-02 14:23] overheadhunter commented on #882
Not entirely true: Once we've build CryptoFS 1.8.3, you can download it from Maven Central and exchange the jar file in your Cryptomator installation directory. The downloaded jar has to have the name of the old jar (including the old version name). Since we didn't change the API, it should be compatible without rebuilding Cryptomator.

[2019-05-02 14:34] overheadhunter opened #883 "Update webdav-nio-adapter to 1.0.10"
There are several [security fixes](https://github.com/cryptomator/webdav-nio-adapter/milestone/6?closed=1) in upstream dependencies, so we should update to webdav-nio-adapter 1.0.10.

[2019-05-03 20:32] easyfab opened #884 "very slow since 1.4.7"
## Basic Info

I'm using Windows  in version: 1809

I'm running Cryptomator in version: 1.4.6 to 1.4.9

## Description

Last fast version for me in 1.4.6 after that it's real slow with folder with > 100 files

On a test case with 10 files. I enter the folder and delete the 10 files.

What I see with 1.4.6 is  " found file xxx"  with findFilesWithPattern()  **only 1 time in the log file** like :

`

[2019-05-05 08:31] purejava commented on #422
I had two issues using `SimpleCollection`. First, there is one public method `getPasswords()` to retrieve passwords from the keyring, but this always gives me an
[code]

Second, I thought it might be worth be more low level, to have the opportunity to extend to code later one towards using other desktop environments like KDE.

[2019-05-05 08:49] swiesend commented on #422
Ah, thanks for the feedback @purejava

1. `getPasswords()` behaves different from `getPassword()`. I purposely built the `java.security.AccessControlException` in, to avoid unauthorized full access to the keyring via D-Bus, which is considered as a [vulnerability](https://github.com/swiesend/secret-service#cve-2018-19358-vulnerability) by some organizations. If one tries to read all Passwords the

[2019-05-05 10:22] TimetravelerDD commented on #791
@overheadhunter: while I do appreciate the huge performance and stability upgrades that make the crashing less often, I don't think the issue is actually solved. So I would recommend to re-open this issue and continue the investigation of the idea raised by @whitephoenix117.

[2019-05-05 14:57] purejava commented on #422
Yes, I saw the example, but that's where the problem originates. The proper way to get a password from the keyring is to pass the `ObjectPath` or fully qualified DBus reference to the object that holds the password to `getPassword()`.

Unlike in your example, where a password is stored and the created `ObjectPath` is returned and passed to `getPassword()`, we don't have the `ObjectPath` in cryptom

[2019-05-05 18:06] overheadhunter commented on #791
@TimetravelerDD

Based on what you described, I don't agree to reopen _this_ issue. You're saying that your "vault still crashes occasionally during normal use", which is a slightly different bug than what we dealt with in this issue.

The memory leak when flooding a vault (which is technically what the title of this issue says) is fixed, which can be shown with instrumenting tools. Therefore I th

[2019-05-05 22:09] whitephoenix117 commented on #791
I believe @TimetravelerDD is referring to my workaround of using Dokan 1.0.2

I have been quite busy lately, but I had some time today to do some cursory testing.

Doing a fresh install of Cryptomator AND the pre-bundled Dokan to versions 1.4.9 and 1.2.1.1 respectively it would definitely appear that the original issue has been fixed. I was able to scan 15k items and 9.5TB with Windirstat without

[2019-05-06 06:44] mirorauhala opened #885 "Allow password field to be cleared with Ctrl-backspace"
## Basic Info

I'm using latest Windows 10 Pro N

I'm running Cryptomator in version: 1.4.9

## Description

When I misspell my password to the point that I have to start over, it would be great to have Ctrl-backspace (or Cmd- backspace for mac) to fully clear the password field.

I use this on a daily basis for clearing password fields when browsing the internet, so this works on all browsers but

[2019-05-06 08:14] overheadhunter commented on #885
Related to #458.

[2019-05-06 16:28] swiesend commented on #682
Where should the SNAPSHOT .jar be after building with maven?
[code]
Because I do not get a `main/uber-jar/target` directory created. Neither in the current directory, nor under `~/.m2/repository/org/cryptomator`.

I also tried to switch from OpenJDK to the Oracle JDK, but that doesn't help either.
[code]

The build runs without complains.
[code]

[2019-05-07 01:10] swiesend commented on #422
I just released [secret-service:1.0.0-RC.3](https://search.maven.org/artifact/de.swiesend/secret-service/1.0.0-RC.3/jar) with the required functionality.

I also renamed some functions for more coherent naming and pass on initial connection errors of the `SimpleCollection`.

@purejava checkout the new [usage example](https://github.com/swiesend/secret-service#usage).

[2019-05-07 08:58] infeo commented on #869
@j-bro Sorry for the late reply. I have no idea where the old dll could be located and since this is a dokany-related thing you should ask in their [forum](https://groups.google.com/forum/#!forum/dokan).

@kn1g the discussion trailed off a little bit. 😁  Back to your problem, i assume you are using WebDAV as the vault provider. Can you test this without google file stream, i.e. a local vault?

[2019-05-07 09:08] overheadhunter commented on #682
@swiesend:

Instead try to realize the truth: There is no jar. See #843 - feel free to join discussion over there if you think we should reintroduce it. :wink.

At the moment you have the following options:
* Use the build-kit together with [cryptomator/cryptomator-linux](https://github.com/cryptomator/cryptomator-linux) to build the full application directory
* If you're using IntelliJ, we've com

[2019-05-07 09:48] swiesend commented on #682
Yes, this line was quite suspicious:

Yes, the IntelliJ configuration works if one does not rename its JDK from `11` to `Oracle-JDK-11`. An additional `mvn exec:java` goal wouldn't hurt, right?

An I have seen that you already updated the [Build instrucitons](https://github.com/cryptomator/cryptomator#building).

Thanks for the quick reply!

[2019-05-07 11:18] #880 closed

[2019-05-07 11:18] #883 closed

[2019-05-07 11:18] #862 closed

[2019-05-07 11:55] infeo commented on #867
Still exists with 1.4.9

[2019-05-07 12:50] CiriousJoker opened #886 "What encryption model is used?"
## Basic Info

Doesn't matter.

## Description

1. I'm programming an encryption software for Chrome OS because there is none.
2. I do not have the time or energy to program a compatible linux/windows/macos/android/ios version myself, so my plan is to make it compatible with Cryptomator instead.
3. What exact encryption model do you guys use?

I'm currently using AES-GCM 256-bit, but that can be c

[2019-05-07 12:56] tobihagemann commented on #886
Check out Cryptomator's security architecture here: https://cryptomator.org/security/architecture/

That will probably answer most of your questions because the encryption scheme is described there in detail.

[2019-05-07 12:58] CiriousJoker commented on #886
Thanks a lot, this can be closed.

[2019-05-07 13:13] #886 closed

[2019-05-07 13:14] overheadhunter commented on #886
Related: cryptomator/cryptolib#10

[2019-05-07 13:16] overheadhunter commented on #886
Let us know if you have further questions or if we can be of any help regarding the encryption scheme.

[2019-05-07 15:27] timmaj commented on #791
@infeo Due to severe time constraints, I unfortunately did not yet manage to run the tests.
@whitephoenix117 , @overheadhunter After a clean install to the latest version the problem actually got worse for me. The performance indeed seems to be better, but the crashing rather comes quicker than slower. This applies both to the slow home connection and to the direct GbE Internet connection at work.

[2019-05-07 15:28] timmaj commented on #791
Oh, by the way: I decreased the cache size of Google file stream. Whether this is the factor leading to quicker crashes of course is mere speculation.

[2019-05-07 15:33] timmaj commented on #791
And one more addition: the last thing cryptomator logs before the vault crashes is
WARN  o.c.c.attr.CryptoBasicFileAttributes - Unable to calculate cleartext file size for G:\Meine Ablage\crypt\d\JO\QCIJMKBS2WOXWJ3JLXVZKYX2JQ4ZFZ\W2STURYU7FXQLMWXZYB54LRLEHWV5UG2SDRRTQJTZNB73P6COJFRZWQFKBXMILPSOJAU7DPVYJ4M2===.
java.lang.IllegalArgumentException: expected ciphertextSize to be positive, but was -88

[2019-05-08 06:37] bogdancs92 commented on #862
Hello,
any ideai when it will be available ? We need to overwrite  files !!!

[2019-05-08 08:43] purejava commented on #422
Great!
Thank you very much for the extension and I would like to thank you for the whole secret-service lib you created. It's nicely written and without it any solution for Linux would be impossible!

I changed my example two comments above to have the correct return type and correct handling of an empty list.

I am looking forward to implement the new version of secret-service. I am not sure if I

[2019-05-08 14:38] tobihagemann opened #887 ""Change Password" button stays disabled after entering wrong password"
# Steps to Reproduce
1. Go to change password screen of some vault
2. Enter _wrong_ password as "Old Password"
3. Enter some password in "New Password" and "Retype Password"
4. Press "Change Password" and the "Wrong password" message should appear
5. Enter/change the password inside "Old Password"

# Expected Results
"Change Password" button should stay enabled

# Actual Results
"Change Password"

[2019-05-08 14:42] infeo opened #888 "Dokany: Mounted Vault crashes sometimes"
## Basic Info

I'm using Windows in version 10 Enterprise/Pro/Home 1809
I'm running Cryptomator in version 1.4.9
I'm using Dokany in version 1.2.2.1000

## Description
This is a sequel issue to #791.

Some user report that a Dokany provided vault crashes from time to time. The cause of the crashes are still unknown. With "crash" it is meant that the vault is inaccessible in the file explorer, but

[2019-05-08 14:43] infeo commented on #791
I created now a new, seperate issue: https://github.com/cryptomator/cryptomator/issues/888

[2019-05-08 14:45] timmaj commented on #888
Thanks you, @infeo

[2019-05-08 15:19] Starbat opened #889 "Can not save files with Libre Office"
## Basic Info

Windows 10 in version: 1809 x64
Cryptomator in version: 1.4.9
Libre Office in version: 6.1.5.2 x64

## Description
When saving files from Libre Office (tested with Writer, Calc and Draw) an error occurs with the statement that the file does not exist.
Saving changes with Microsoft Office 365 works fine.

A few times table documents (.ods) from the vault could not be opened anymore,

[2019-05-08 20:46] infeo commented on #889
Do the files already exist or are they new ones? What vault provider are you using? (Dokany vs WebDAV, you find this info in the settings)

[2019-05-08 20:52] #889 closed

[2019-05-09 09:48] timmaj commented on #888
One more update: my robocopy script reports error 1450 (0x000005AA) (NO_SYSTEM_RESOURCES) when the vault crashes.

If I keep remounting the vault and re-run robocopy, the crash happens quicker. That means, the less robocopy really has to do and the more time it spends on traversing, the sooner the vault crashes.

[2019-05-09 10:00] Jici75 commented on #888
Hi,

Same problem here with similar setup :

I'm using Windows in version 10 Pro
I'm running Cryptomator in version 1.4.9
I'm using Dokany in version 1.2.2.1000
Vault is hosted on Google Drive File Stream
Sync software : FreeFileSync

Trying to sync large number of files lead to Dokany crashing (Drive letter still here but not possible to read drive content.

[2019-05-09 10:05] timmaj commented on #888
@Jici75 I just try it with WinDirStat, but switched Cryptomator to debug mode. It is now much slower, but no crash so far...you could try this.

The fact that you use another tool on top hints to the fact that it is either a bug in Cryptomator/Dokany or a strange interplay of Cryptomator and Google File Stream.

[2019-05-09 10:15] timmaj commented on #888
Another quick update: the crash in debug mode comes eventually. The only entries related to this in the log file are
12:11:19.760 [Thread-14398] TRACE o.c.cryptofs.CryptoDirectoryStream - CLOSE c05fe560-852f-4fde-a97e-e4f4df057b6f
12:11:19.761 [Background Thread 5] TRACE o.c.frontend.dokany.ReadWriteAdapter - unmounted() is called.

[2019-05-09 11:43] overheadhunter commented on #828
bot should have removed the awaiting-response flag

[2019-05-09 12:56] overheadhunter commented on #861
Seems to be fixed with 1.4.7. If you still encounter an error, let me know and I'll reopen this issue.

[2019-05-09 12:56] #861 closed

[2019-05-09 13:02] #316 closed

[2019-05-09 15:26] timmaj commented on #888
And a final update from my side: even when caching the full m-directory of cryptomator, the crash comes sooner or later. I have no further ideas how to proceed, alas.

[2019-05-10 07:34] timmaj commented on #888
@infeo I still struggle to proceed with the directory mirror example, since I am pretty much heading from one meeting to the other these days...parallelizing some synchronization words, installing the stuff not really. Do the normal logs (in debug mode) provide any reasonable input? Unfortunately, to my eyes it is always "CLOSE"followed by "unmounted() is called"  before the crash, nothing else th

[2019-05-10 09:42] LeXFReeMan opened #890 "Each opening of file for reading is followed by write to the cloud"
## Basic Info

I'm using Windows in version: 10
I'm running Cryptomator in version: 1.4.10 (1.4.3-1.4.10)

## Description

I discovered a strange regression from 1.4.2 to the latest versions when working with a cloud provider. Each opening of file for reading is followed by write to the cloud.

How to reproduce:
* Connect the drive using Google Drive File Stream (30.1.36.2348) or RaiDrive (1.6.2.4

[2019-05-10 11:55] timmaj commented on #888
And one more post from me...

I think we are talking about at least two issues here, maybe three:
1. The crashing of the vault for yet unknown reasons.
2. Cryptomator / Dokany not noticing this, i.e. no logging and the vault still apearing as opened in Cryptomator. Obviously, something happens that either does not throw an exception or that throws an exception that is not caught yet does not crash

[2019-05-10 16:18] vcxy commented on #867
The problem still exists (with any file being copied or moved to the vault) in v1.4.10 !!!

[2019-05-11 05:49] purejava commented on #422
Done.

The [code](https://github.com/purejava/cryptomator/tree/secret-service-simple) is changed to adapt the new version of the secret-service lib. Additionally it now checks, whether the secret-service DBus API is available or not. So, this should work for Linux environments, where GNOME's gnome-keyring is installed and configured, e.g. Fedora or latest Ubuntu.

[2019-05-11 10:11] infeo commented on #867
I really, really wish windows could be the same everywhere...

On my windows installtion it works now, but (luckily?) @tobihagemann could reproduce this bug on a windows 10 system (with a move and copy operation).

[2019-05-13 14:22] #68 closed

[2019-05-13 17:29] #741 closed

[2019-05-14 07:58] buddydvd opened #891 "File/Folder disappears after sequence of actions"
## Basic Info

I'm using macOS in version 10.14.4.
I'm running Cryptomator in version 1.4.9.

## Description

Here's an examples that shows how a file/folder disappears after sequence of actions.

1. Create an empty vault.
2. Unlock the vault.
3. Create an empty text file and save it to the root folder of the vault with the following file name: `0123456789abcdefghijklmnopqrstuvwxyz0123456789abcdef

[2019-05-14 08:16] buddydvd opened #892 "Writes to vault's storage folder still occur even in Read-Only mode"
## Basic Info

I'm using macOS in version 10.14.4.
I'm running Cryptomator in version 1.4.9.

## Description

Here's an examples that shows how writes to vault's storage folder still occur when the vault is opened in *Read-Only* mode.

1. Create an empty vault.
2. Unlock the vault in *Read-Only* mode.
3. List the content of the vault's storage folder.
4. Attempt to save a file into (or access a no

[2019-05-14 08:34] overheadhunter commented on #867
Maybe related to #890?

[2019-05-14 08:35] overheadhunter commented on #891
Hm maybe a bug in our "long file name cache"? Should get invalidated upon rename.

[2019-05-14 08:38] overheadhunter commented on #892
Can you please retest this in 1.4.10? Not that I believe anything changed there, but for the sake of having a clean error report. :wink:

[2019-05-14 08:55] buddydvd opened #893 "Every long file name accessed/created/copied/moved generates approximate 3 files and 6 folders in the vault's storage's `/m/` folder."
## Basic Info

I'm using macOS in version 10.14.4.
I'm running Cryptomator in version 1.4.9.

## Description

Here's an example that shows how extraneous files and folders get created within a vault's storage's `/m/` folder:

1. Create an empty vault.
2. Unlock the vault.
3. List the content of the vault's storage folder.
4. Create an empty text file and save it to the root folder of the vault wit

[2019-05-14 10:08] purejava commented on #422
As there are no further comments, I pulled the latest commits from `develop` and [created a PR](https://github.com/cryptomator/cryptomator/pull/894).

[2019-05-14 10:10] tobihagemann commented on #891
I suppose this is related to https://github.com/cryptomator/cryptomator-ios/issues/114?

Please try the following inside Google Drive without Cryptomator (on your Mac):

1. Create a file named `0.txt` and wait until sync is done
2. Rename `0.txt` to `0` and wait until sync is done

As you can see, Google Drive will automatically rename the file `0` back to `0.txt`. This is a bug I've reported [her

[2019-05-14 11:04] buddydvd commented on #891
@tobihagemann: I was able to confirm your hypothesis. The problematic vault's storage folder was located within my Google Drive's folder. After retrying the same steps on a vault with a storage location outside of my Google Drive's folder, no files went missing.

So what to do?

One practical option is to update `cryptofs` to tolerate variable file name extensions, include sanitizing logic to addr

[2019-05-14 11:37] overheadhunter commented on #422
Thank you, @purejava!

We still need to find a proper way to distribute the (transitive) dependencies properly. Maybe we can make use of Maven's classifier, since we only want the .jars included in the Linux release.

[2019-05-14 11:48] overheadhunter commented on #891
The cleanest way is a fresh start, removing file name shortening altogether. It is merely for legacy systems anyway. Any sane storage media supports reasonably long paths.

But since this is not an option and we **can not** migrate from `FOO.lng` to e.g. `9FOO` (as in cryptomator/cryptofs#38) due to the very nature of this bug, the only short-term solution is indeed to re-add file extensions for e

[2019-05-14 18:44] vcxy commented on #890
I also use the vault together with google drive and currently use the version v1.4.6 (from v1.4.7-1.4.10 I have problems with the timestamps when copying files into the vault, see # 867). The problem described by you does not occur to me. Have you ever tested v1.4.6?

[2019-05-14 22:13] buddydvd commented on #892
@overheadhunter: Same for Cryptomator version 1.4.10.

### Terminal Log
[code]

[2019-05-14 23:42] buddydvd commented on #891
Possibly related:
- https://github.com/cryptomator/cryptomator/issues/219
- https://github.com/cryptomator/cryptomator/issues/331
- https://github.com/cryptomator/cryptomator/issues/740

[2019-05-15 06:56] LeXFReeMan commented on #890
I have the same issue with 1.4.6, the latest stable for me is 1.4.2.
I check this problem with the video file, maybe it matters

[2019-05-15 09:49] overheadhunter commented on #891
Even if this is a misbehaviour of Google Drive, we still need to find a fix in our software. Therefore I propose to schedule a vault migration in one of the upcoming releases.

To sum up our discussion so far:
1. Google Drive doesn't allow to remove a file extension. Therefore a `.lng` file can not become a "normal" file.
1. `.lng` files are needed because OneDrive limits both, path length and fil

[2019-05-15 21:35] buddydvd commented on #891
Say we have the following contents in our unlocked vault:
[code]
Under the new vault format, we expect to see the following structure in the vault's storage folder, right?
[code]

If my interpretation is correct, wouldn't it be difficult for Cryptomator to tell the difference between a short ciphertext filename (e.g., `GD674RLCEBJIKQON7EGBKGML73FSD3PALM======.c9r`) and a deflated ciphertext filena

[2019-05-16 09:42] overheadhunter commented on #891
Yes, that would be the plan for a new vault format, see also cryptomator/cryptofs#54.

Exactly, this is why @tobihagemann suggested using "always" a file extension.

[2019-05-16 11:25] overheadhunter opened #895 "Unzipping zip files with resource forks fails on Mac"
Certain zip files can not be extracted inside a FUSE volume. This seems to depend on whether they contain resource forks. Therefore this issue might depend on cryptomator/fuse-nio-adapter#35 (to be retested, as soon as xattr is supported).

Attached there are two zip files. One of them contains just a text file (this works fine). The other one has said Mac-specific ressource forks:

[code]

[bad.z

[2019-05-17 12:12] alekkolomiec commented on #680
2 step auth or use Keyfile instead or with password (second masterkey, which not stored in cloud) can be useful for this scenario:

1. Attacker use keylogger and/or screenshoter and/or fishing techniques for steal your password for cloud, where you store files AND masterkey.
2. With same tool attacker can steal your password for Cryptomator, login to your cloud, download all files and decrypt. Kee

[2019-05-17 15:29] alekkolomiec commented on #96
+1 for this feature. I explained why this is important here: https://github.com/cryptomator/cryptomator/issues/680

[2019-05-18 07:20] purejava commented on #887
We get an IndexOutOfBoundsException here.
[code]
If something goes wrong which changing the password, depending on the reason one of three exceptions in thrown in the `ChangePasswordController`.

It does not matter, which one of the old | new | retypePassword fields is changed after one of the exceptions is thrown in the `ChangePasswordController` - the IndexOutOfBoundsException is thrown in every

[2019-05-19 11:37] #887 closed

[2019-05-19 16:32] NixSar commented on #884
Having the same issue in Windows 10 v1809, Cryptomator 1.4.10 with Dokany is unusable - couple of bytes/s copying. WebDAV, however, is working without any issues.

[2019-05-19 21:15] hoehenunterschied commented on #674
I observe the exact same behavior with Cryptomator Version 1.4.10 (1374), FUSE for macOS 3.9.0, macOS Mojave 10.14.6 Beta (18G29g).
Interestingly I could open 4 vaults at the same time until a couple of days before. This issue has been opened over a year ago, it is still open and no solution has been found. But I have been using 4 open vaults in parallel for many months until I ran into this issue

[2019-05-20 06:42] NixSar commented on #890
I can confirm this behavior, Windows 10 v1809, Cryptomator 1.4.10 and cloud providers - pCloud, Sync.com and Dropbox.

[2019-05-20 08:59] overheadhunter commented on #674
@hoehenunterschied can you remember what changed? So far we have no clue, what limits the number of fuse mounts and you're the first person who actually witnessed any change in this behaviour.

[2019-05-20 15:38] bttrx opened #897 "File modification timestamp"
## Basic Info

I'm using Windows in version: Windows 10 build 1703

I'm running Cryptomator in version: 1.4.10

## Description

Whenever I open a file from a vault in Word, its file modification timestamp is set to the current time after I leave Word.
Same for copying files within the vault.

[2019-05-20 18:36] overheadhunter commented on #867
Will be fixed by upgrading to CryptoFS 1.8.4 (see cryptomator/cryptofs#56).

[2019-05-20 18:36] overheadhunter commented on #897
Duplicate of #750

[2019-05-20 18:36] #897 closed

[2019-05-20 18:37] overheadhunter commented on #897
Fix is on the way (cryptomator/cryptofs#56). 🙂

[2019-05-21 05:14] hoehenunterschied commented on #674
I have checked the „show beta releases“ checkmark set in FUSE for macOS system preferences. But version 3.9.0 was released on 03 May 2019 and I am sure I had 4 vaults open at the same time after the 3rd of May.
I run a beta version of macOS. That was released May 15. I don’t think I observed the problem before that date. This is on my iMac. I have a MacBook which is on the same version of the beta

[2019-05-21 11:12] overheadhunter commented on #890
We're having a hard time to find out what can cause any sync client to trigger. So far, I have not been able to see what changes in the ciphertext file.
The file content is unchanged and even the modification date (which does have some other bugs) doesn't change purely by opening a file (tried it by opening a picture with Windows's Photos application).

Can you please test this in a vault with a s

[2019-05-21 15:10] overheadhunter commented on #422
This branch can not yet be merged onto develop. The linux-specific classes can not be loaded on other operating systems, as they immediately start to do something just by referencing (and thus statically initializing) the class:

https://github.com/cryptomator/cryptomator/blob/7718c14e7e48debdeb433e500c851e4977de68f2/main/keychain/src/main/java/org/cryptomator/keychain/LinuxSecretServiceAccess.jav

[2019-05-21 15:59] #786 closed

[2019-05-21 17:08] purejava commented on #422
That‘s bad.

I expected `SystemUtils.IS_OS_LINUX` to prevent anything to happen on macOS and Windows, but did not test that. My fault, sorry.

I’ll look into this.

[2019-05-21 21:04] jordantiss commented on #879
@infeo Can you elaborate on the comment that symbolic links work? Does that mean I can create symbolic links between files in a Cryptomator vault, or is that still in development?

[2019-05-21 21:05] jordanbtucker commented on #879
@infeo Can you elaborate on the comment that symbolic links work? Does that mean I can create symbolic links between files in a Cryptomator vault, or is that still in development?

[2019-05-22 01:41] mzjdy opened #898 "how should i connect webdav on windows"
I want to read file in my company's PC, but i don't want to download all file to it,how should I open a webdav connection to reach with  a two step authentication as the Android client?My English is not good,Excuse me.

[2019-05-22 08:43] overheadhunter commented on #898
Cryptomator is not and will never be a sync client. If you want to access a vault on a WebDAV drive without downloading all contents, you might want to take a look at [Mountain Duck](https://mountainduck.io/).

Also, for non-technical questions, feel free to visit our forum on [community.cryptomator.org](https://community.cryptomator.org).

[2019-05-22 08:43] #898 closed

[2019-05-22 08:47] mzjdy commented on #898
Thanks for your reply,I will have a try with Mountain Duck.,the android client can do this so i ask this question

[2019-05-22 12:48] infeo commented on #890
Depends on [cryptomator/cryptofs/issues/58](https://github.com/cryptomator/cryptofs/issues/58)

Will be fixed when version 1.8.5 of cryptofs is released and the dependency is updated.

[2019-05-22 13:57] overheadhunter commented on #890
To add a little explanation: Google File Stream starts to sync as soon as write is called on a file even if this doesn't change a single byte.

Some programs (such as said "Photos" app) open files readonly, in which case there is on problem. Other programs open files for reading and writing despite the fact they only want to read from a file. In this case CryptoFS wrote to the file (without modify

[2019-05-22 14:52] infeo commented on #879
Oh, i see that i need to correct myself.
On windows, Cryptomator supports symbolic links from outside the vault into it. Currently it does not support creating links inside a vault.

This is a feature to be implemented.

Thanks for asking!

[2019-05-22 15:14] #867 closed

[2019-05-22 15:14] #890 closed

[2019-05-22 15:35] walma7 commented on #881
FYI: with 1.4.10 nothing changed.

[2019-05-22 22:46] swiesend commented on #422
I see to ways to solve the problem.

One is to use the current state of the library and open a new session for each action without checking if the dbus is available.

Another would be to move the session opening into another method, as in the `MacSystemKeychainAccess` implementation with a separate health check:

https://github.com/cryptomator/cryptomator/blob/7718c14e7e48debdeb433e500c851e4977de6

[2019-05-23 07:37] purejava commented on #422
Thanks for the suggestions.

Do we need to open a session on every platform, even on Windows and macOS, where D-Bus is not available?

Wouldn‘t it be better to keep Linux classes from being loaded on other platforms than Linux?

[2019-05-23 08:22] overheadhunter commented on #890
I've build a [RC](https://github.com/cryptomator/cryptomator/releases/tag/1.4.11-rc1) of the next version. Can you please verify the fix?

[2019-05-23 08:31] overheadhunter commented on #422
For Mac- and Windows-specific stuff we're using this approach:

1. Try and load the library
2. On error return empty Optional
3. When accessing native code check for presence of Optional first

See also: https://github.com/cryptomator/native-functions/blob/develop/JNI/src/main/java/org/cryptomator/jni/FunctionsLoader.java

I'd prefer to stick to this scheme.

[2019-05-23 08:51] #855 closed

[2019-05-23 09:22] LeXFReeMan commented on #890
@overheadhunter it has unexpected unmount while reading or writing files
`12:13:59.502 [Thread-7432] TRACE o.c.frontend.dokany.ReadWriteAdapter - (770) /Test.mkv opened successful with handle 770.
12:13:59.502 [Background Thread 3] TRACE o.c.frontend.dokany.ReadWriteAdapter - unmounted() is called.`
[1.4.11-rc1.log](https://github.com/cryptomator/cryptomator/files/3211297/1.4.11-rc1.log)

[2019-05-23 09:28] infeo commented on #890
This is a known bug already reported in #888 (althogh that issue focuses more one not Google File Stream related causes). This issue here only addresses the unwanted synchronizations. Do they still appear?

[2019-05-23 09:30] LeXFReeMan commented on #890
@infeo I can't check #890 while every open file unmount vault

[2019-05-23 09:56] jeremypatrickdahan opened #899 "Illustrator CS6 can't save file in vault on macOS 10.11"
## Basic Info

I'm using macOS v10.11.6 (El Capitan)
I'm running Fuse 3.9.0
I'm running Cryptomator in version: 1.4.10

## Description

When I create a file in Illustrator CS6 and try to save it into a vault, I get a permissions error.
![Screen Shot 2019-05-23 at 11 43 49](https://user-images.githubusercontent.com/2395334/58243038-3fa2cb80-7d50-11e9-9c8f-59c98a748891.png)
The saved file is empty (

[2019-05-23 15:58] NixSar commented on #890
No unexpected synchronizations anymore, at least during testing.

[2019-05-24 12:04] tobihagemann opened #900 "Unable to lock vault when mount point begins with a hyphen"
### Description
Vault cannot be locked when mount point begins with a hyphen (`-`).

### System Setup
* Operating system and version: macOS 10.14.5
* Cryptomator version (shown in the settings): 1.4.10
* Drive (FUSE/Dokany/WebDAV): FUSE

### Steps to Reproduce
1. Create a new vault or select an existing one
2. Go to "More Options" and enable "Use Custom Mount Point"
3. Select a directory that star

[2019-05-24 14:03] tobihagemann commented on #899
I'm unable to reproduce the issue on macOS 10.14.5 with Illustrator 2019 (23.0.3). It's hard to say if this is an upstream bug or not.

Do you have Homebrew installed? If yes, try out [bindfs](https://bindfs.org/):

[code]

Then create two directories and use bindfs to mount a directory to the other via FUSE:

[code]

After that, try to reproduce the issue inside the mount point (in this case, `ba

[2019-05-24 18:52] vcxy commented on #622
why do not you implement a "case insensitive" option (as in the cppcryptfs software)? That would solve the problem.

[2019-05-25 10:38] TimetravelerDD commented on #888
Thank you for the great summary! Just a small clarification: After crashing I am closing the vault and open it again and the drive will mount with a different letter (because the old one is still blocked.) In this exact moment though the old mount is finally disengaged. So after the next close and reopen I get the original drive letter

[2019-05-25 10:38] TimetravelerDD commented on #888
Thank you for the great summary! Just a small clarification: After crashing I am closing the vault and open it again and the drive will mount with a different letter (because the old one is still blocked.) In this exact moment though the old mount is finally disengaged. So after the next close and reopen I get the original drive letter

[2019-05-25 11:16] purejava commented on #422
I was taking a look, but have some problems to get that exception thrown.
What is confusing me too is that running Cryptomator on Windows (even the default develop branch) gives me an

```12:57:58.862 [JavaFX Application Thread] ERROR org.cryptomator.jni.JniModule - Could not load JNI lib WinFunctions.dll from path C:\Program Files\Java\jdk-12.0.1\bin;C:\WINDOWS\Sun\Java\bin;C:\WINDOWS\system32;C:

[2019-05-25 15:54] jeremypatrickdahan commented on #899
Thank you for your answer and the test instructions.
Unfortunately, I can save directly to the mount point bar from Illustrator.
I get no error message and the file is not empty.

[2019-05-25 20:27] timmaj commented on #888
I am just trying 1.4.11 RC1. On a very slow line actually. No crash so far! I will report further tomorrow.

[2019-05-26 15:05] purejava commented on #422
Ok, the `WinFunctions.dll` comes from another repo. I could compile everything up to the point where it tries to upload the jar to the sonatype repo.

Does this step need to succeed to create the `WinFunctions.dll`?

[2019-05-27 09:02] overheadhunter commented on #622
Explained it here: https://github.com/cryptomator/cryptomator/issues/622#issuecomment-356946328

[2019-05-27 09:19] overheadhunter commented on #422
WinFunctions is not compiled via Maven. We've done it manually and added the binary to [cryptomator/cryptomator-win](https://github.com/cryptomator/cryptomator-win). When launching from your IDE, it is not present and save password will not work. You can of course download the dll to your working directory manually, if you want to test save pw on Windows.

it is already null.

Tried it, didn't get

[2019-05-27 10:45] timmaj commented on #888
I cannot have a full run on this slow line, but I will do an exhaustive test next week. Nevertheless: no crash so far. Maybe 1.4.11 RC1 closes this issue as well. The signs are very promising!

[2019-05-27 11:45] tobihagemann commented on #895
I just wanted to mention that the issue is fixed when removing the `noappledouble` option. I know that we can't "just" remove the option but it's very likely that it has something to do with xattr.

[2019-05-27 11:46] tobihagemann commented on #899
I can reproduce a similar issue with Photoshop CC 2019 (20.0.4). I think it's related to #895 and https://github.com/cryptomator/fuse-nio-adapter/issues/35. To be retested as soon as xattr is supported.

[2019-05-28 10:46] Jici75 commented on #888
Tried  1.4.11 RC1 on a fast optic fiver line.

Initial problems with custom drive letter attribution.
- Cryptomator will crash on first launch and drive letter won't be released
- On second launch, I have to switch to automatic drive letter assignement because custom letter is still assigned
- I then close Cryptomator and reopen it. Custom drive letter as been freed and I can re-attribute mu custo

[2019-05-28 18:07] kobby-w commented on #895
Hello,

I have the same problem with Mac OS X 10.14.5 (Mojave) and files which are zipped.
With normal WebDav it works fine to unzip the archives in a Cryptomator drive.
With FUSE it does not work, there is an error and the file can only be unzipped outside a Cryptomator drive.

I already searched the Web but I do not know how to set the option "noappledouble" in Cryptomator 1.4.10. or Fuse 3.9.0.

[2019-05-29 07:35] overheadhunter commented on #895
Currently, you can not set this option. We're planning to allow custom mount options in #802.

[2019-05-29 14:29] ElMostafaIdrassi commented on #791
I am facing the same issue on MacOS 10.13.6.
Cryptomator makes use of WebDAV as Fuse is not present on the machine.

I have an Xcode project hosted on DropBox, and the vault crashes when building.
Here are the logs right after the crash. Hope this helps.

[code]

[2019-05-29 14:41] ElMostafaIdrassi opened #901 "Vault crashes under heavy load under MacOS 10.13.6"
### Description

I have an Xcode project hosted on DropBox, and the vault crashes when building it.
I know there are issues like mine, but they are focused on Dokany / Windows, so I'm opening a new issue for WebDAV / MacOS.

### System Setup

* Operating system and version: MacOS 10.13.6
* Cryptomator version: 1.4.10
* Drive: WebDAV

### Steps to Reproduce

1. Create a complex Xcode project
2. Bui

[2019-05-29 15:09] timmaj commented on #791
I believe that this is a separate issue, since the issue here is connected to using Dokan. Also the stacktrace lools different to anything we had discussed so far.

Am 29. Mai 2019 16:29:18 MESZ schrieb El Mostafa Idrassi <notifications@github.com>:

--
Von unterwegs gesendet. Sorry für Knappheit und Tippfehler.
Sent mobile. Please excuse brevity and typos.

[2019-05-29 17:39] tobihagemann commented on #901
Duplicate of #579

Basically: Please upgrade to Mojave if you'd like to use WebDAV, otherwise please use FUSE.

[2019-05-29 17:39] #901 closed

[2019-05-29 18:24] vcxy commented on #622
As already written, I would solve it as the software "cppcryptfs" with the setting "case-insensitive" has made. This works perfectly and causes only a minimal loss of speed. For details see: https://github.com/bailey27/cppcryptfs under the section: Case insensitive

[2019-05-29 22:12] overheadhunter commented on #622
Maybe I'm blind, but I can not find any details about this. As explained before, we need a time-constant solution. We can not "guess" all possible mutations of a filename... Please read my previous post regarding this topic.

[2019-05-30 12:51] chojrak11 opened #902 "Feature request: option to turn off filename encryption"
An option to turn off filename encryption would be useful. It would allow restoring previous versions of files using cloud drive web interface. E.g. after messing with my file, and after the messed up version is synchronized with Google Drive, I would be able to easily find the file in Google Drive interface and restore to previous version using Google's ability to store past versions of files. Ri

[2019-05-30 15:40] overheadhunter commented on #902
Duplicate of #101

[2019-05-30 15:40] #902 closed

[2019-05-30 15:40] overheadhunter commented on #902
Feel free to join the discussion on issue #336. 🙂

[2019-05-30 16:17] vcxy commented on #622
The real problem is only that it must be ensured that if a file or a folder, for example: foo already exist, then the attempt to create a folder or a file with the name: FOO, Foo, etc. a Error message: "File or folder already exists" (as in Windows) must appear. I do not know how Windows or cppcryptfs do that, but I do not think it would be very complicated or difficult to do such a check before a

[2019-05-31 04:29] chojrak11 commented on #336
I join the discussion after failing attempt to report feature request #902. My view of this feature is an option per vault to enable/disable filename encryption, with default being set to on - to provide better security by default. Don't know what else can be said - it's just a checkbox plus a couple of `if`s in the code and we're done :)

[2019-05-31 07:56] overheadhunter commented on #622
I understand, _why_ you would want a case-insensitive file system. Hence the issue exists.

For the third time: Such checks can not be atomic and require `O(2^n)` steps (n being the number of characters in a filename), which is not feasible. This is why I am asking _how_ you would design such a check.

The description in cppcryptfs merely says "there is a checkbox", which doesn't help much. Neithe

[2019-05-31 10:11] lassomagic commented on #220
Seems this issue is still not fully fixed on Cryptomator 1.4.10. On MacOS Mojave 10.14.4, I copy an existing file into the vault. The modification date on the file remains the same. However the created date is new - it is the date the file is copied into the vault.

Is it possible to maintain the same created date on the file as well?

[2019-05-31 11:57] overheadhunter commented on #220
@lassomagic You're right, this is a regression: See #867. We found the cause and will fix it in 1.4.11. You can already download a pre-release version of 1.4.11 [over here](https://github.com/cryptomator/cryptomator/releases/tag/1.4.11-rc1).

[2019-05-31 11:59] lassomagic commented on #220
thanks @overheadhunter

[2019-06-01 12:51] purejava commented on #422
Thanks for explaining this.

I also was not able to get the transitive dependencies to work. `includeGroupIds` and `includeArtifactIds` in the buildkit pom did not work as expected.

A different approach I tried was to exclude the generated secret-service.jar from the Windows and the macOS build.
https://github.com/purejava/cryptomator/commit/1df87cc23f98f8e2341d77dc6967ecbe3d45576a

I installed t

[2019-06-01 21:38] andygock opened #903 "Dokany mounted drive modifies file timestamp to current when it should not"
### Description

When copying files to a Dokany mounted drive, timestamp is set to current. Shouldn't the behaviour be that it should maintain the date/time to the original source file?

When using WebDAV, the timestamp is not changed. But I can't use WebDAV as it reports incorrect free space.

Also, when playing a movie file with VLC, timestamp of file is also changed to current. This is not the

[2019-06-01 21:57] HATEthePLOT opened #904 "Empty decrypted folder"
Dear all,
since version 1.4.10 I am having issues with my vault. Especially one folder does not display any files in it in windows explorer (it has around 500 pdfs in it. Other applications can access these files without any problems. My ubuntu machine has no problems showing the folders contents.

So far, I witnessed the problem only with this single folder.

[2019-06-02 07:43] tobihagemann commented on #903
Thank you for your bug report! Could you please try to reproduce the issue with [1.4.11-rc1](https://github.com/cryptomator/cryptomator/releases/tag/1.4.11-rc1)? We addressed some modification date issues there.

[2019-06-02 08:28] andygock commented on #903
@tobihagemann Just tested with [1.4.11-rc1](https://github.com/cryptomator/cryptomator/releases/tag/1.4.11-rc1) and the date/time behaviour appears to be working correctly for that release. Thanks!

[2019-06-02 08:28] #903 closed

[2019-06-02 12:12] timmaj commented on #888
There is one thing I would like to share already: on the current slow line, while synchronising there are constant downloads by File Stream from the /d-folder of cryptomator. However, while doing that, robocopy logs no need to synchronize files. To my understanding, robocopy uses in mirror mode only file size and last modification time for comparison. That means, the File Stream mode in directory

[2019-06-02 22:44] vcxy commented on #622
I asked the developer of cppcryptfs how the case insensitive setting works.
Here is the answer, how it works: https://github.com/bailey27/cppcryptfs/issues/58

[2019-06-03 06:21] overheadhunter commented on #888
To my knowledge, Dokany requires a file handle even for trivial tasks like polling the size or modification date. @infeo Might this be the cause?

[2019-06-03 06:52] overheadhunter commented on #622
Which confirms a full directory listing is required. 😞

[2019-06-03 09:01] jeremypatrickdahan commented on #899
Same issue with (Skim PDF reader)[https://skim-app.sourceforge.io] : my annotated PDF cannot be saved on the vault.

[2019-06-03 10:34] timmaj commented on #888
Thank you for the reply, @overheadhunter. If I sync a directory with several GiB large files, which impossible can be in the File Stream cache, only some get downloaded. (I can tell since the corresponding encrypted files are by far the largest ones I have in the vault.) Wouldn't that suggest that a file handle not necessarily triggers a download?

I guess once everything is solved, File Stream an

[2019-06-03 11:58] mamboone commented on #868
I can confirm the issue with any of the 1.4 versions (1.4.0 up to 1.4.10) as well.
On one of my two laptops it happens all the time immediately after supend and wake up - no need to hibernate. This is the PC where the account of my wife is running in parallel - and she has also Cryptomator running (which needed to set the  "port" value to a different value to allow running it in parallel). Maybe t

[2019-06-03 13:12] infeo commented on #888
@timmaj this bug is reported in issue #890 , look there for any details. It is fixed in the current [release candidate of 1.4.11](https://github.com/cryptomator/cryptomator/releases/tag/1.4.11-rc1)

[2019-06-03 15:18] timmaj commented on #888
I am using 1.4.11 RC1 actually...

[2019-06-03 17:15] vcxy commented on #622
Ok, but I still think it's possible to implement such an setting with a reasonable effort. In addition, I think that would be desirable for many Windows users.
If you don't want to do it, please don't say it would be too complicated or would coast too much processing power.

[2019-06-04 14:05] TimH54 commented on #868
Just want to confirm that, unfortunately, I have the same issues on my Surface Pro. As the OP describes, this is more than a minor inconvenience.

[2019-06-05 14:55] #869 closed

[2019-06-06 19:33] purejava commented on #422
Good news: I found a working solution for the remaining problems.

I excluded the generated secret-service.jar from the Windows and the macOS build as mentioned above. Additionally, I changed the code to avoid problems on Windows and macOS.

What I did to test it:
on Windows I could build Cryptomator up to the point where the installers are created.

This cannot be done due to a missing sign cert,

[2019-06-08 08:01] pquan commented on #868
@infeo I apologize for me being extremely busy and not been able to do the nio test. However, I did the mirror example (https://github.com/cryptomator/cryptomator/issues/868#issuecomment-484815988) and the dokany mirror works while the cryptomator fails (see screenshots). This must be something with a state that is not being properly restored.
If I understand correctly, the dokany "disk" driver ca

[2019-06-10 09:11] ArtificialTruth opened #906 "Add support forTasker automation in the Android app"
### Summary

[One paragraph explanation of the feature.]

### Motivation

[Why are we doing this? What use cases does it support? What is the expected outcome?]

### Considered Alternatives

[A clear and concise description of the alternative solutions you've considered.]

### Additional Context

[Add any other context or screenshots about the feature request here.]

[2019-06-11 11:05] #900 closed

[2019-06-11 11:50] overheadhunter commented on #761
Can you please retest this with 1.4.11?

[2019-06-12 01:58] Riajyuu commented on #761
no longer for me

[2019-06-12 08:02] bogdancs92 opened #907 "WINDOWS - DOKANY - v 1.4.11 - lock session closes Vault"
I have just installed the 1.4.11 version.

1. I open my crypted vault.
2. I press windows + L to lock my windows session
3. After several seconds I unlock my windows session
4. the vault letter is not longer available. I have to lock the vault and open it again on a new letter because the old one is reserved somehow...

Best regards

[2019-06-12 08:43] overheadhunter commented on #907
Duplicate of #868

[2019-06-12 08:43] #907 closed

[2019-06-12 09:49] dejury opened #908 "Crashes with 1.4.11"
### Description

Today i updated from 1.4.9 to 1.4.11. Since the update, my decrypted disk crashes and afterwards i need to mount the disk again. After a while it crashes again. On 1.4.9 everything worked.

Reboot didn't help, so seems to be a problem in the application.

### System Setup

* Operating system and version: Windows 10 Home, 10.0.18362
* Cryptomator version: 1.4.11
* Drive:  Dokany

#

[2019-06-12 11:23] dejury commented on #908
Seems to be related to #888. Didn't see this stack trace in that issue, so maybe it helps.

[2019-06-12 11:34] dejury commented on #908
Upgrading Dokany from 1.2.0.1000 to 1.2.2.1000 resolved the problem. Is it maybe better to update Dokany too when updating Cryptomator?

[2019-06-12 11:56] tobihagemann commented on #908
Thank you for your bug report! Dokany as a dependency is making everything so tricky. We're following the instructions/suggestions from here: https://github.com/dokan-dev/dokany/wiki/How-to-package-your-application-with-Dokan

This is probably the saddest thing ever because we can't give Cryptomator users a convenient way to update Dokany once it's installed on their system.

We actually updated t

[2019-06-12 14:10] Liryna commented on #908
Just got the same report here https://groups.google.com/forum/#!topic/dokan/d-47ztI78Y8

In the newest library we are using a new keepalive mechanism that prevents to have zombies drive in case the user fs crash. Currently an older library work with the newest kernel driver. Here the keepalive fail to establish since kernel does not have the feature in the install version. We maybe had to have a f

[2019-06-12 14:20] tobihagemann commented on #908
Thank you for the info, @Liryna! All right, we'll repackage our installer with an older version of Dokany in the meantime.

[2019-06-12 20:36] tobihagemann commented on #908
New installer is available at: https://dl.bintray.com/cryptomator/cryptomator/1.4.11/Cryptomator-1.4.11%2B114-x64.exe

At least one confirmation that it works: https://community.cryptomator.org/t/version-1-4-11-fails-after-a-few-moments/3748/5

[2019-06-12 20:36] #908 closed

[2019-06-13 14:27] infeo opened #909 "Opening pdf files in Adobe Reader fails: Access Denied"
### Description

Sometimes opening pdf files with Adobe Acrobat Reader fails.

### System Setup

* Operating system and version: Windows 10 Enterprise N Ver. 1809
* Cryptomator version: Cryptomator 1.4.11
* Drive: Dokany in version 1.2.2.1000

### Steps to Reproduce

It appears randomly to the user. Sometimes the program denies to open pdf files.

1. Unlock & mount a vault containing `testFile.pdf

[2019-06-13 14:28] infeo commented on #909
Depends on https://github.com/dokan-dev/dokany/issues/794

[2019-06-13 14:31] infeo commented on #909
The current workaround is to disable the protected mode: https://helpx.adobe.com/reader/using/protected-mode-windows.html

[2019-06-14 11:21] rorygsales commented on #855
Hi again.

So I've sort of paused this after I could not figure out what Treesize is doing on the "_command line_" to cause this error.

That said I think the problem has to do with what programs can recognized, find or work with a unlocked vault using either WebDAV or Dokany. As in do they have access to that drive letter via whatever Windows API/call they use to request available drive letters e

[2019-06-14 16:12] rorygsales commented on #855
More insight into this issue.

**BoxCryptor** sees the virtual drive as a NTFS file system and allows for **Treesize** to do its thing, but **Everything** (the search tool) doesn't show the drive letter on its options / settings page.

Not sure if this is a bug or a feature request now? :)

Regards
R

[2019-06-14 18:25] infeo commented on #855
When you mount an unlocked vault via Dokany, it is done with the [CURRENT_SESSION](https://dokan-dev.github.io/dokany-doc/html/group___d_o_k_a_n___o_p_t_i_o_n.html#gafeb9b73b1fe996d45290c3fc4d80562c) flag, meaning that the mounted volume is only visible for the _current user_. This means when you try to do some actions as another user (including admin) on the vault, they fail. With issue #802 it i

[2019-06-14 18:45] rorygsales commented on #855
Hi Armin

Thank you for the reply.

Regarding the flags you mentioned that is very interesting and might be the issue we are experiencing. I can't be sure but I will try and run Treesize as the user that unlocked/mount the vault.

Regarding the file system label:
If its just a label/description and doesn't do anything else, then I agree, there is no point in worrying about it.... I wasn't sure if

[2019-06-15 06:07] rorygsales commented on #855
Hi Armin

You were spot on with the [CURRENT_SESSION](https://dokan-dev.github.io/dokany-doc/html/group___d_o_k_a_n___o_p_t_i_o_n.html#gafeb9b73b1fe996d45290c3fc4d80562c) flag.

I tried to start Cryptomator with "**run as administrator**" ticked as my Treesize runs as administrator (recommended due to diff permissions on folders one could be recursively exploring to recover space).
Explorer refuse

[2019-06-15 07:56] luixxiul opened #910 "Drive letter reset to default after upgrading to 1.4.11"
### Description

The drive letter got reset for the first time after upgrading to `1.4.11` from `1.4.10`.

### System Setup

* Operating system and version: Windows 10
* Cryptomator version: 1.4.11
* Drive: Dokany

### Steps to Reproduce

1. Upgrade to `1.4.11`
2. Run the program
3. Mount the virtual drive as usual

#### Expected Behavior

The drive letter setting should be respected and restored.

[2019-06-15 11:51] vanniktech commented on #788
It's still an issue.

[2019-06-15 19:44] pomeloy opened #911 "Microsoft Office Excel temporary file shows up when saving to vault"
### Description

Microsoft Office Excel creates a temporary file alongside the excel file when saving to a Cryptomator vault.

### System Setup

* Operating system and version: Windows 10 1903
* Cryptomator version: 1.4.11
* Drive: Dokany
* Microsoft Office 365 Excel 1905 Build 11629.20214

### Steps to Reproduce

1. Open vault
2. Open Excel
3. Save any Excel workbook to vault

#### Expected Behav

[2019-06-16 09:47] colbach commented on #422
With every Update, I hope, that this feature, is added.

[2019-06-17 14:33] infeo commented on #911
I actually don't know what went wrong here.

Look at the following excerpt of your log file (line 1232 - 1235):
[code]
With the DeleteFile-Function it is tested if a file can be deleted. If the function returns true, the file can be deleted. Otherwise a a message if a cause is logged.
In the cleanup call the file is actually deleted. Also for this function it holds that if an exception occurs, you

[2019-06-17 21:00] pomeloy commented on #911
This behaviour is reproducible both on a local vault and another one in a cloud directory.
I am running Dokany 1.2.1.

[2019-06-17 21:01] pomeloy commented on #911
This behavior is reproducible both on a local vault and another one in a cloud directory.
I am running Dokany 1.2.1.

[2019-06-18 14:42] overheadhunter commented on #802
Works for FUSE. @tobihagemann Wanna test? 😆

TODO @infeo: Implement flags for Dokany. See

https://github.com/cryptomator/cryptomator/blob/b15d410378db19d06be0e1bfe8e9cabff0455cea/main/ui/src/main/java/org/cryptomator/ui/model/VaultModule.java#L100-L103

and param in

https://github.com/cryptomator/cryptomator/blob/b15d410378db19d06be0e1bfe8e9cabff0455cea/main/ui/src/main/java/org/cryptomator/ui/m

[2019-06-18 18:42] pomeloy commented on #911
Updating Dokany to 1.2.2 apparently fixed the issue.

[2019-06-18 18:42] #911 closed

[2019-06-18 19:29] seba174 opened #912 "Cannot use Cryptomator with Calibre when using Dokany"
### Description

I cannot use Cryptomator when using Calibre (ebook management software). Every time i try to edit metadata of the book, the exception is thrown. WebDAV works correctly, the bug occurs only on Dokany.

### System Setup

* Operating system and version: Windows 10 1903
* Cryptomator version: 1.4.11
* Drive: Dokany 1.2.2.1000 (WebDAV works correctly)

### Steps to Reproduce

1. Create

[2019-06-19 11:04] wuniversales opened #913 "Add telegram cloud storage"
I think its necesary add "Telegram cloud storage".
:)

[2019-06-19 15:12] dairefagan commented on #422
That is great news, thank you! So if everything is now working, do you know when we can expect full functionality to be implemented to the PPA, and will this also mean that automount is now enabled on linux?

[2019-06-19 16:07] purejava commented on #422
Well, for the first part (merged and packaged solution) a last obstacle needs to be circumvented: to access GNOME´s keyring, a lib that handles D-Bus access is necessary. This lib was written and provided meanwhile. The patch that implements that lib is ready and tested, but the new D-Bus lib dependency needs to be handled correctly in terms to be configured as a transitive dependency within the b

[2019-06-20 11:50] infeo commented on #802
depends on https://github.com/cryptomator/dokany-nio-adapter/issues/30

[2019-06-20 12:31] infeo commented on #802
I suggest for the text box to apply a tooltip in dependecy of the used system (example can be found here: https://stackoverflow.com/questions/37542955/how-to-set-a-tooltip-on-a-javafx-button)

[2019-06-21 09:57] NixSar commented on #888
This bug is not fixed for me by downloading 1.4.11 with new or older Dokany. It is reproducible always while copying with FreeFileSync.
[log_to_submit.log](https://github.com/cryptomator/cryptomator/files/3313928/log_to_submit.log)

[2019-06-22 05:39] lolc commented on #830
Any update?

[2019-06-22 10:17] #822 closed

[2019-06-22 16:50] Liryna commented on #908
Fix is ready and will be ship next release 👍
https://github.com/dokan-dev/dokany/commit/6e68efb6492d799d682a5f2917306039de704015

[2019-06-22 16:57] infeo commented on #904
Our issue tracker is not for support questions. (I'll see this as one.) For such things, please have a look at our [forum](https://community.cryptomator.org/).

[2019-06-22 16:57] #904 closed

[2019-06-24 14:39] infeo commented on #913
This is in the current state of Telegram cloud storage _not_ possible.

The desktop application is basically an encryption tool optimized for synchronized directories. It does not offer any access to the cloud provider. Since the Telegram "cloud" cannot be synchronized with a local directory, Cryptomator cannot access/encrypt anything.
For the mobile application again the problem is that telegram

[2019-06-24 14:39] #913 closed

[2019-06-24 14:48] overheadhunter commented on #913
(And if there are libraries for iOS and Android, feel free to open issues in our corresponding repositories.)

[2019-06-24 16:09] infeo commented on #910
With "always" reproducible do you mean everytime you update, remove, install old version and update Cryptomator again?

[2019-06-24 20:41] denisro2010 opened #914 "Decryption is too slow"
Hello guys, first I just wanna say that Cryptomator is AWESOME, congratulations for creating this great tool. It's a must for every person that's concerned about security/privacy.

I wanna report that since the month of may or so, Cryptomator for Windows 10 is very slow at decrypting. Before it was much faster. If you manage to bring back that speed, the program would be absolutely perfect.

Thank

[2019-06-24 21:08] infeo commented on #914
I really, really would love to keep this issue open, 😉  but we already have an issue noting a decrease of speed: https://github.com/cryptomator/cryptomator/issues/884

Feel free to report your findings there! (like with wich version of Cryptomator it does start)

[2019-06-24 21:08] #914 closed

[2019-06-25 00:50] eric29 opened #915 "Having a .cryptomator extension is a bad idea."
### Summary

Change the masterkey extension!

Having the masterkey have an extension of ".cryptomator" is just calling attention on your encrypted files. You're basically letting everyone know "Hey! This is an encrypted folder...and you can try to un-encrypt it using Cryptomator. Clearly anyone who sees this will question you, or maybe even force you to un-encrypt the folder (boss/wife/...kidnappe

[2019-06-25 00:55] eric29 commented on #915
To add to that: Trying to rename the masterkey file doesn't work either - extension or filename.

[2019-06-25 08:19] joeysundotcom opened #916 "Silent Setup ist not silent."
Even running the setup with /verysilent /suppressmsgboxes /restartapplications produces an info box about VC++ that pauses the installation, if it is not installed.
This makes rollout impossible. Please fix.

[2019-06-25 08:20] overheadhunter commented on #915
Well, I disagree for the following reasons:
- You don't need a file extension to see that a file is encrypted. You can just measure the entropy of the file contents
- Even when using an arbitrary extension, you could easily identify the directory structure to be a cryptomator vault
- Having an unambiguous file extensions helps less tech-savvy users to understand what those strange files inside the

[2019-06-25 09:34] overheadhunter commented on #802
Side note: This adds read-only support to Dokany-based vaults. :-)

[2019-06-25 10:02] tobihagemann commented on #915
Security target is currently documented here: https://cryptomator.org/security/advice/#protection

[2019-06-26 11:15] infeo commented on #912
I cannot reproduce this issue. (anymore...)

The exceptions are thrown due to a faulty behaviour of calibre. It opens files only for writing but tries to read from them.

What version of calibre are you using?

[2019-06-26 20:46] seba174 commented on #912
I am using the latest Calibre 3.44 (64bit). I can provide sample .db file, which has bug reproducibility (at least for me).

[2019-06-26 21:33] #219 closed

[2019-06-27 00:10] eric29 commented on #915
Thanks for this info.  I read it and understand some of those points for sure.

@overheadhunter -
Definitely good points, and I understand that more technology competent people can tell it's an encrypted file folder if they look at it more closely, but it's definitely not true that anybody can easily identify the structure as a Cryptomator vault. I myself, only learned recently about cryptomator a

[2019-06-27 03:47] eric29 commented on #915
Another good point is at border crossings. There's so many stories of border agents forcing you to unlock your phone or computer, and if they see an encrypted file/folder, they can force you to unlock it too (even if they don't have the power, they still do it). But if they just see random gibberish files that DON'T say "masterkey.cryptomator" (aka, "this is an encrypted file"), you'll feel a lot

[2019-06-27 07:41] luixxiul commented on #910
I updated ->reverted, checked the status -> updated again -> reverted = now

[2019-06-28 09:58] #874 closed

[2019-06-29 12:24] RiseT commented on #912
I wonder how you got calibre working with Cryptomator via WebDAV. I've tried it several times (admittedly ca. 2 years ago), and sooner or later (not right from the start), calibre would throw some I/O error message. My book databases are pretty big, though.

As a sidenote - for better or worse - [here's](https://manual.calibre-ebook.com/faq.html#i-am-getting-errors-with-my-calibre-library-on-a-net

[2019-06-29 14:48] purejava commented on #422
I draw back this last passage. Digging deeper in transitive dependencies it showed, that what I said above is not necessary.

From my point of view all problems are sorted out now.

[2019-06-29 19:30] john-larson opened #917 "More Detailed Build+Install Directions on README Page"
On the README section, could you please elaborate how to install the application after building it with Maven? I did `mvn clean install -Prelease` but I do not know how to proceed after that.

[2019-06-30 12:06] #860 closed

[2019-06-30 19:51] seba174 commented on #912
You are right, i have not tested it much, just was looking for similar behavior when modifying metadata (which works on WebDAV). But after few minutes other features also started to misbehave.
So i assume based on your link, that there is no way to get it working with Cryptomator, unfortunately.

[2019-07-01 10:00] RiseT commented on #912
Well, if this is true...

... then at least this specific issue could get fixed on calibre's side.

[2019-07-01 10:06] kovidgoyal commented on #912
On Mon, Jul 01, 2019 at 03:00:24AM -0700, RiseT wrote:

An attempt to read from a file
opened for writing would fail on most filesystems/operating systems. For
example, on Linux, with tmpfs or ext4:

[code]

[2019-07-01 14:35] overheadhunter commented on #849
To be rechecked with 1.5.0 after complete UI rebuild

[2019-07-02 09:56] overheadhunter commented on #917
Related to #843. Since we dropped the jar release, there is no possibility to run the program without also building the installers.

I think it is time to re-add some way to build a runnable version from the source in this repo without the need to also checkout and adjust the various installer repos.

[2019-07-02 14:12] #422 closed

[2019-07-02 14:37] overheadhunter commented on #843
We will include the [aforementioned](https://github.com/cryptomator/cryptomator/issues/843#issuecomment-470237234) launcher scripts in their respective buildkit.zip archives and publish these on GitHub.

[2019-07-02 14:41] #843 closed

[2019-07-02 14:47] overheadhunter commented on #917
Since #843 is now fixed, a launcher script is now included in the zip files containing all the jars. Therefore it should now be sufficient to add a few words about using the launcher to run the application.

[2019-07-02 14:48] #917 closed

[2019-07-03 08:11] #761 closed

[2019-07-03 08:18] infeo commented on #910
I can't reproduce this issue. Maybe your drive letter was temporary reserved and therefore the setting got reverted? For this bug we already have issue #872

[2019-07-03 14:08] #802 closed

[2019-07-03 16:56] overheadhunter commented on #729
We're still interested in this topic. If we can get FUSE working inside a Flatpak, we may start publishing Cryptomator this way.

[2019-07-04 06:48] luixxiul commented on #910
As I haven't changed any setting startup routine before and after the upgrade, and the drive letter, which is "X", is not configured to be used by another program so I doubt that's the case here, though at the same time I don't know what the exact cause is.

If that would be the case, it's just not understandable why that hadn't happened since `1.4.7` to `1.4.10` at all.

[2019-07-04 11:19] pauLee opened #918 "Periodic disconnection of the drive"
### Description

All my vaults are disconnecting after roundabout 50 seconds. The name from the drive disapear, the drive letter still remains and I can not access the vault anymore. I need to lock the vault and can unlock them again. But the drive letter is not available anymore. I need to lock the vault again and can then choose my prefered drive letter.

### System Setup

* Operating system and

[2019-07-04 11:25] infeo commented on #918
What is your Dokany version? We updated our interface to the Dokan library, but a new feature in dokany messed up the downward compability. See #908

The workarounds are to install the latest Dokany release or to install Cryptomator in version [1.4.11+114](https://github.com/cryptomator/cryptomator/releases/tag/1.4.11)

[2019-07-04 13:21] infeo commented on #872
fixed with https://github.com/cryptomator/cryptomator/commit/66d7621bc9844a7561043a1f693643d0770c8ad6

[2019-07-04 13:21] #872 closed

[2019-07-05 09:59] pauLee commented on #918
I have installed version 1.2.0.1000

Should I manually upgrade to a higher version, e.g. 1.2.2.1000?

[2019-07-05 15:04] infeo commented on #918
Either that (install 1.2.2.1000 or newer) or install the alternative Cryptomator version. I close this issue since this is a duplicate.

[2019-07-05 15:04] #918 closed

[2019-07-06 07:39] PKizzle opened #919 "File system can not be mounted [1.4.12-rc1]"
### Description

Unlocking the vault fails with the latest Cryptomator version 1.4.12-rc1 on macOS

### System Setup

* Operating system and version: macOS 10.14.6 (18G59b)
* Cryptomator version: 1.4.12-rc1
* Drive: FUSE 3.9.2

### Steps to Reproduce

1. Enter password of vault
2. Click unlock

#### Expected Behavior

Vault unlocks and opens a Finder window with its content.

#### Actual Behavior

[2019-07-06 13:02] seba174 commented on #912
There is something wrong with normal writing (according to my tests). The code below (python2/3, assuming cryptomator vault is mounted using dokany at Z:):
[code]
produces same exception as Calibre:

[code]

which is sometimes (once for few runs) followed by:
[code]

What is important is the length of the content written. If the file did not exits earlier and if the content to write it is less tha

[2019-07-06 15:06] tailwheeldriver opened #920 "Alternative .apk source?"
For those of us who don't use any google play services or app store, is there an alternative source for the .apk? I'd be happy with a direct download .apk from releases, perhaps cryptomator could be on F-droid someday?

[2019-07-06 17:58] PhilZ-cwm6 opened #921 "Question/Feature: Is there a way to access webdav vault using a third party webdav client ?"
### Summary

Abilty when defaulting to webdav to mount the vault using a third party webdav client

### Motivation

I prefer webdav and I have a licensed South River Webdrive which fixes every windows webdav issue

[2019-07-06 19:13] infeo commented on #910
You can try out our [release candidate](https://github.com/cryptomator/cryptomator/releases/tag/1.4.12-rc1) and see if the issue is resolved for you. It includes a fix for #872 .

[2019-07-07 08:00] mrdulin commented on #336
+1

For better human-readable filename, especially upload files to cloud storage. Turn off filename encryption option should be considered

[2019-07-07 12:53] bilelmoussaoui commented on #729
Perfect, I will take care of that tomorrow. Don't hesitate to ping me by the end of the week in case I forget 😅

[2019-07-07 13:36] a-2-z-tx commented on #881
I am seeing exactly the same CPU activity as wlama7 described.  I am running Win10 v1809 with all updates as of 7/7/19 and using 1.4.11 with Dokany.
For right now, I am clicking on settings before I minimize the window to get around the problem.  CPU usage goes to 0%.  If I don't click on settings first, I get about 30% CPU usage after I lock the vault and minimize the window.

[2019-07-07 17:21] SailReal commented on #920
Duplicate of https://github.com/cryptomator/cryptomator-android/issues/147

[2019-07-07 22:07] #920 closed

[2019-07-08 05:24] riking commented on #611
Consider N=20 (time bound = 5sec) instead for file encryption / password valuts.

[2019-07-08 09:06] overheadhunter commented on #881
Interesting. Maybe this issue is related to #849.

[2019-07-08 09:16] walma7 commented on #881
Hello Sebastian! Yes it is related, as i wrote on top.
On 25. of April you wanted to open a seperate ticket, because of the different OS. ;-)
Hope this is getting fixed soon.

[2019-07-08 09:46] overheadhunter commented on #881
Yes I remember, but is is more because you reported high CPU when _minimizing to tray_, while the other thread is about _selecting a vault_ (which is what @a-2-z-tx confirms also being true for Windows). This is what I find interesting. 😉

[2019-07-08 10:28] overheadhunter commented on #422
Anyone interested in testing this? Checkout [1.4.12 RC 1](https://github.com/cryptomator/cryptomator/releases/tag/1.4.12-rc1)!

[2019-07-08 10:45] swiesend commented on #422
Thank you so much @purejava and @overheadhunter for making this reality!

I can't wait for it being downloaded here with my 3,8 Mbit/s!

[2019-07-08 11:56] swiesend commented on #919
Same here for Linux, but there seems to be even more trouble with the `[DBusConnection]`. I think the DBus issue is just a result of not being able to mount, right or is it an own issue?

**System Setup**
* Operating system and version: Ubuntu 18.04.2 LTS (64-bit)
* Cryptomator version: [1.4.12-rc1](https://github.com/cryptomator/cryptomator/releases/tag/1.4.12-rc1) (applies for [`cryptomator-1.4.

[2019-07-08 12:20] swiesend commented on #422
I tried the build, but had some issues, which I added to #919. `FUSE` unfortunately fails totally, but `WebDAV` works (saving, laoding, auto mount). But `WebDAV` does not auto mount, when the port is still/already occupied. E.g. after killing Cryptomator non gracefully.

[2019-07-08 12:24] infeo commented on #921
We recently added for Dokany and Fuse support for mount-flags (#802). Maybe something similar can be done for our WebDAV-Adapter.

[2019-07-08 14:27] tobihagemann commented on #921
I don't think that this about mount flags.

Yes, you can access the vault via any WebDAV client. In older versions of Cryptomator, there was a button to copy the WebDAV URL, see: https://community.cryptomator.org/t/can-i-use-alternative-webdav-clients/42

But now you have to get the URL another way. E.g., you could look inside the [log file](https://community.cryptomator.org/t/where-is-the-log-fil

[2019-07-09 09:53] ca09f18dee commented on #868
I have the same issue.

[2019-07-09 14:31] overheadhunter commented on #919
## Temporary workaround

1. Check the "custom mount flags" option
2. Remove any whitespaces from the begin of the default options

To be fixed with the next RC.

[2019-07-09 17:53] infeo commented on #912
The latter one is a bug in the underlying cryptographic filesystem (https://github.com/cryptomator/cryptofs). It is already fixed, but didn't found its way into a release.

I still cannot reproduce the issue of the non-readable file channel. It would be interesting what open options for the zwCreateFile() calls are handed over. Can you try out the [mirror example](https://github.com/dokan-dev/doka

[2019-07-09 20:02] seba174 commented on #912
I have used the following command:
`mirror.exe /o /d /s /r C:\test /l s`
and then redirected output to file: [logs.log](https://github.com/cryptomator/cryptomator/files/3374653/logs.log)
Later i executed the same program as in my previous message (with path changed to S:\dummy.opf).

If that is not what you requested, i will try to do that again with some tips how to do that properly.

[2019-07-09 21:31] infeo commented on #912
Thanks! That was exactly what I wanted 😎

Your log file proves that cryptomator isn't doing anything wrong here. Around line 571 you see the following:
[code]

In line 467 a handle to `dummy.opf` is opened with flags only for writing. After other calls to the opened handle something wants to read from the file. Since it is not opened for reading, the error code 5 (access denied) is returned.

I me

[2019-07-10 11:32] overheadhunter commented on #919
RC 2 now available 🎉

[2019-07-10 11:42] infeo commented on #873
Cannot reproduce this anymore with Cryptomator 1.4.12-rc1

[2019-07-10 12:02] PKizzle commented on #919
The issue is fixed on macOS. I'll close this issue now.
Is it working on Linux too, @swiesend?

[2019-07-10 12:02] #919 closed

[2019-07-10 12:31] PKizzle commented on #122
Spotlight indexing can now be enabled using the custom mount flags starting with version 1.4.12-rc2
Just use `-oallow_root` and `-olocal` and Spotlight starts the indexing.
This issue may hereby be closed.

[2019-07-10 13:39] swiesend commented on #919
@PKizzle si, works on Linux, too.

[2019-07-10 15:20] infeo commented on #873
@luixxiul can you confirm this issue is fixed with our current release candidate [1.4.12-rc2](https://github.com/cryptomator/cryptomator/releases/tag/1.4.12-rc2)? The versions 1.4.7 and 1.4.8 contained two severe bugs and I assume they were the reason for this problem.

[2019-07-11 10:59] luixxiul commented on #910
Yeah the issue seems to be resolved somehow. I'm going to close the issue for now until the issue would be occurring in the future.

[2019-07-11 10:59] #910 closed

[2019-07-11 11:05] luixxiul commented on #873
I tried the steps to reproduce the issue and it looks to me as well that the issue has been fixed on the release candidate 😄

[2019-07-11 11:05] #873 closed

[2019-07-11 11:38] bleedr commented on #915
What about adding an alternative password that "unlocks" the vault, at least it pretends it is, but files are only showing the content of the false passphrase executed on the encrypted data

[2019-07-13 08:06] mamboone commented on #868
After switching back to WebDav everything is working fine within all 1.4.x versions of Cryptomator. Is there anything going on with the Dokany bug to be fixed? Anything new on this feature? Anything we can do to help debug?
One thing I liked about the Dokany integration is the option to provide a Vault as a directory, not only as a fixed drive.

[2019-07-13 09:24] pomeloy opened #922 "Pandoc epub conversion fails inside Cryptomator vault"
### Description

Pandoc conversion to epub with cover image fails inside a Cryptomator vault

### System Setup

* Operating system and version: Win 10 1903
* Cryptomator version: 1.4.11
* Drive: Dokany 1.2.2
* Pandoc version: 2.7.3

### Steps to Reproduce

1. Open vault
2. Create empty markdown file
3. Run 'pandoc test.md -o test.epub --metadata title="test" --epub-cover-image cover.png'

#### Exp

[2019-07-13 10:20] PhilZ-cwm6 commented on #921
Great, I know there is no more copy webdav url button in new versions, that's why I asked
I wasn't aware if I could get the url another way though

[2019-07-13 20:01] bvazx opened #923 "Windows 10 x64 can't go to sleep and hangs (intel based laptops; only hard reset helps) when Cryptomator (Dokany/WebDAV) works and mounts a vault."
### Description

Windows 10 x64 can't go to sleep and hangs (only hard reset helps) when Cryptomator (Dokany/WebDAV) works and mounts a vault.
If Cryptomator doesn't work Windows 10 x64 can go to sleep and resume without any problems.

### System Setup

* Operating system and version: [Windows/macOS/Linux + Version]
Windows 10 x64 (1903), Acer Spin 5 (sp513-52n, intel based ultrabook)
Fast startup

[2019-07-14 16:10] infeo commented on #921
The URL is build the following way:
`http://[LOCALHOST]:[WEBDAV-PORT]/[VAULTID]` where
1. [LOCALHOST] is an alias for localhost (IP address of 127.0.0.1). Default is `cryptomator-vault`
1. [WEBDAV-PORT] is the port number from the general settings. Default is 42427
1. [VAULTID] is the id of your vault. You can find it in the `%appdata%/Cryptomator/settings.json` file

[2019-07-15 18:53] PhilZ-cwm6 commented on #921
many thanks

[2019-07-15 18:53] #921 closed

[2019-07-15 23:02] CollinChaffin commented on #815
There's a serious bug as of latest build (today 07-15-2019).  To recreate the issue (I've tested on multiple machines):

1. Create A BRAND NEW vault
2. Upon creation, re-enter password but immediately click `More Options`
3. Select mount point instead of drive letter (additional options appear irrelevant)
4. FAILURE OCCURS OF `See Log` although NO LOG IS CREATED!  No mounting occurs.

To succeed:

[2019-07-15 23:27] CollinChaffin commented on #418
Caution @achimismaili Powershell solution does NOT work (at least on latest builds) and will forcibly close your vaults and pop up this message:

![Cryptomator_me0IbpR1AM](https://user-images.githubusercontent.com/9301483/61255436-2ace2d00-a72e-11e9-9fea-861b5cbe201b.png)

All this call does is the same as clicking "close" on the window - which we already know does NOT currently leave it properly

[2019-07-16 09:08] pquan commented on #868
Yes, I'm (partially) using WebDav when in need. However, there's issues with WebDav + OneNote (for example). OneNote will detect the webdav path and threat it as a "onedrive" destination, failing miserably in the process. So no notes can be stored in a webdav cryptomator vault.

Dokany is seen as a "local drive" and works fine, unless you happen to suspend.

[2019-07-17 01:38] CollinChaffin commented on #888
Not fixed here either on any Win7 config I've tested, new versions with Dokany are beyond slow and now unfortunately just totally unusable at all.

[2019-07-17 01:40] CollinChaffin commented on #884
Unfortunately I've also found it totally unusable on every config of Windows 7 I've tested as well (Dokany).

[2019-07-17 02:37] AndyIbanez commented on #802
I'd really appreciate this, as it is a requirement to use Carbon Copy Cloner with Cryptomator. My use case is I want to mirror a big drive into a Cryptomator vault that will be uploaded to the cloud.

[2019-07-17 08:41] overheadhunter commented on #802
@AndyIbanez Feel free to try the release candidate. We're currently waiting for feedback and will release this version if everything works.

[2019-07-17 13:07] infeo commented on #888
To make this clear: I'm not talking about the dokany crashes. Otherwise this bug report here would be closed. My statement was refererring to the linked issue.

And since we didn't made any major changes in our dokany interface it is highly unlikely that this issue here is resolved by a new version.

[2019-07-17 13:28] infeo commented on #815
I cannot reproduce this. Especially the log file is always created.

Have you installed the current release candidate or do you start cryptomator over the jar file? In the latter case you have to add addtional launcher arguments to activate logging to a file. See #917

[2019-07-18 07:02] Alvis74 opened #924 "When try to unlock vault (from Dropbox) I get error - "Location is not available""
I just made Windows 10 clean install (after SSD crash and don't have problems with Cryptomator before).
I try to use 1.4.11 (as a latest one), then try to use older 1.4.4, bought of x64 bit.
Always get "Location is not available" and can't connect to my existing vault.
Also try to switch between Dokany and WebDAV volume type - difference is just, that they tries to mount to a volume with a differe

[2019-07-18 13:25] infeo commented on #924
When exactly is this error shown, e.g. can you try to unlock it or does Cryptomator instantly report "Vault couldn't be found. Has it been moved?" in the main window when you select the vault ? If the first one is the case, can you provide a log file (preferably with debug mode enabled)?

And do you use DropBox Smart Sync?

[2019-07-18 13:34] infeo commented on #922
I reproduced the error and compared the created log file with the (working) mirror example of dokany. Unfortunatly it didn't help because the log files are the same up to a point and after it the just diverge.

cryptomator log:
[code]

mirror log:
[code]

[2019-07-18 23:07] pomeloy commented on #922
I forgot to mention that I first ran pandoc with and then without the cover image option. That should explain the divergence.

[2019-07-18 23:08] pomeloy commented on #922
I forgot to mention that I ran pandoc with and without the cover image option. That may explain the divergence in the log files.

[2019-07-19 09:37] Alvis74 commented on #924
1. My vault is old - created few years ago, so I use "Open existing vault" and then click it, enter password and as usually press "Unlock Vault" - it try to unlock and after some time i get error "Location is not available".
2. No nothing been moved.
3. Yes I can send log file, just where to find it (I enable debug mode and try to connect, so probably log is made, but can you provide a path to it

[2019-07-22 06:16] Alvis74 commented on #924
I just check on my second PC with Windows 8.1 - Cryptomator work well, so I conclude that Cryptomator and latest Windows 10 has issue....
Because with latest W10 don't work latest, as well as older versions of Cryptomator, so probably some additional W10 services should be enabled ?
SMB client I enabled, but I'm not sure what services is need - what services should be turned on?

[2019-07-22 07:58] CollinChaffin commented on #888
@infeo 	As far as crashes, RC1.4.11 might have fixed it (I cannot confirm) but I absolutely CAN 100% confirm that RC 1.4.11 is 100% UNUSABLE if using default Dokany now under any WIN7 due to be so beyond slow (<56k modem speed R/W).  Guessing it's going to be an issue with the 3rd party Dokany lib being used, but since it 100% relies on this 3rd party lib, now it stands still until they hopefully

[2019-07-22 08:01] CollinChaffin commented on #815
Latest RC 1.4.11 multiple installs of WIN7 systems.  Has NEVER been able to mount a custom non-drive-letter mount AT FIRST CREATION TIME.  As long as you first mount it at least once (the first time) as a drive letter, then and only then does the mount point work in all my testing.

[2019-07-22 09:58] infeo opened #925 "UI Redesign: Main Window"
This is a sub issue of #808

# Short
This issue describes the requirements at the main window and the general look.

# Description
The main window of Cryptomator 1.5.0 does not differ in its layout from previous versions.
It is divided into 3 parts:
1. Title Bar
1. Vault List
1. Vault Detail

The width of the vault list /info page should be resizeable.

## Title Bar
The title bar contains two butt

[2019-07-22 10:10] infeo opened #926 "UI Redesign: Vault selected"
This is a sub issue of #808

# Short
This issue describes the requirements at the main window when a vault is selected.

# Description
When a vault is selected it is highlighted in the vault list and on the info page information and possible actions of the vault are shown.
The information contains at least:
* Name of the vault
* Storage Location
* Access Point
* Current status

The storage locatio

[2019-07-22 10:42] infeo opened #927 "UI Redesign: Change Password"
This is a subissue of #808 .

# Short
This issue describes the workflow when a user changes the password of a vault.

# Description
**Preconditions**: A vault is selected and locked.

When the user clicks the "Change Password"-Button, a 2-step wizard starts. The steps are:
1. Enter current password
1. Enter new password

The wizard can always be canceld by clicking the X-Button in the title bar of

[2019-07-22 12:18] infeo opened #928 "UI Redesign: Unlock"
This is a subissue of #808 .

# Short
This issue describes the workflow when a user unlocks a vault.

# Description
**Preconditions**: A vault is selected in the vault list and locked.

When the user clicks the "Unlock"-Button, a modal dialogue appears containing the prompt to enter the password of the vault, a password field and two buttons, one to cancel the unlock and one to start the unlock tr

[2019-07-22 12:48] infeo opened #929 "UI Redesign: Add Vault"
This is a subissue of #808 .

# Short
This issue describes the workflow when a user changes the password of a vault.

# Description
**Preconditions**: The main window is displayed and focused.

When the user clicks the button below the vault list labelled with a "+", a modal wizard starts to create a new vault or add an already existing to the vault list. In the appearing window the user selects w

[2019-07-22 13:04] overheadhunter opened #930 "UI Theme Switcher"
### Summary

Add support for various UI themes, including custom ones.

### Motivation

As requested by users such as in [this post](https://community.cryptomator.org/t/ui-redesign-thread/2850/10?u=overheadhunter), the current fixed theme doesn't fit all flavours. As JavaFX GUIs can easily be styled with a CSS dialect, users might want to design custom themes.

Therefore it should be possible to:

[2019-07-22 13:21] infeo opened #931 "UI Redesign: Vault Settings"
This is a subissue of #808 .

# Short
This issue describes the workflow when a user edit the settings of a vault.

# Description
**Preconditions**: A vault is selected and locked.

When the user clicks the "Settings"-Button, a modal dialgoue is shown. In the dialogue the user can change the following settings:
* Save Password
* Unlock at Startup
* Read only
* Custom Mount Point (for windows additi

[2019-07-22 13:55] infeo commented on #924
For the location of log files, see [here](https://community.cryptomator.org/t/where-is-the-log-file-located/24). Please be aware that the log files contain sensitive information, so you may want to send the log of a new vault.

Basically Cryptomator does not use the SMB protocol. It uses either WebDAV or the Dokany library. But i don't know if WebDAV requires the SMB serive to run...

Do you have

[2019-07-23 09:44] Alvis74 commented on #924
OK, I found - pleach check my log file:
[cryptomator.log](https://github.com/cryptomator/cryptomator/files/3421362/cryptomator.log)
Yes I try bouth WebDAV and Dokany and they bouth are installed on my PC.
Vault is on Dropbox.

[2019-07-23 14:51] overheadhunter opened #932 "Resizable Main Window"
### Summary

Allow the user to adjust the window size of the main window (#925).

### Motivation

With a fixed window size but texts of variable length (e.g. paths), some information can not be properly displayed.

### Considered Alternatives

An adjustable window size is just one means of fixing this. It should get combined with others such as proper line wrapping, tooltips, etc.

[2019-07-24 08:18] #122 closed

[2019-07-24 11:46] PKizzle opened #933 "Enhancement: Custom volume icon using custom mount flags"
### Description

Unable to set custom volume icon using custom mount flag `-ovolicon`.
I am not sure whether this is a FUSE issue or happens because of Cryptomator's FUSE integration.

### System Setup

* Operating system and version: macOS 10.14.6 (18G84)
* Cryptomator version: 1.4.12
* Drive: FUSE 3.10.0

### Steps to Reproduce

1. Enable custom mount flags
2. Add `-ovolicon=PATH_TO_ICNS`
3. Mou

[2019-07-24 13:10] overheadhunter commented on #933
Not sure what causes this, either. Of course we tried to set a custom volume icon already. 😁

[2019-07-24 13:49] PKizzle commented on #933
Is there a way to get FUSE debug output?

[2019-07-24 13:56] PKizzle commented on #933
Strangely `ls .VolumeIcon.icns` tells me that the file exists, but I cannot modify it.
Commands like `cp` or `mv` fail with `.VolumeIcon.icns: No such file or directory`.
So maybe FUSE fails to replace the default icns file?

[2019-07-24 14:27] PKizzle commented on #933
Okay I fixed it. I was able to make FUSE's default icon show by removing the `-oauto_xattr` option.
Additionally removing `-onoappledouble` allows a custom icon to correctly show up.
Now the only thing that does not work is a file path with spaces or special characters.

[2019-07-24 20:52] overheadhunter commented on #933
Interesting, but this comes with too many disadvantages.

I'd love to remove `auto_xattr`, but this depends on xattr support in cryptofs, which depends on an upstream bugfix in the Java IO system on macOS.

Also, we need the `iconv` module to convert unicode characters from NFC (internal representation) to NFD (mac-specific representation as used in Finder).

The question is, if these problems are

[2019-07-24 23:05] yoasif opened #934 "Vault appears empty after copying to it fails due to insufficient disk space"
### Description

I lost over 100GB of data.

### System Setup

* Ubuntu 18.04
* Cryptomator version: 1.4.11
* Drive: FUSE

### Steps to Reproduce

1. I created a volume
2. I began copying data to the new volume
3. I began to run out of space in underlying disk, but I was unconcerned because I was attempting to encrypt the data to the same volume (I was not copying to the cloud)
4. I waited a few h

[2019-07-24 23:58] yoasif commented on #934
Update: I moved all the (visible) files out of the disk, and the underlying data is still taking 108 GB. Are the files still there?

[2019-07-25 07:13] overheadhunter commented on #934
Just to make sure I got this right: The problem is, that the drive showed a lot of free space when there was none, which caused the copy process to continue when it should have failed. Correct?

[2019-07-25 07:22] yoasif commented on #934
No, there was no free space, so my file manager stopped the copy. I freed a little space and continued to copy (cut and paste to the disk, really). The copied files then disappeared.

I'm actually running a sanitized decryptVault now, which seems to be working (although it barfed on zero byte files):

[code]

so I had to manually delete the zero byte files (failed copies) manually.

It is proceedi

[2019-07-25 07:33] overheadhunter commented on #934
Which is expected behaviour. After all we don't want to copy data somewhere where it can not be stored. So what exactly caused a data loss then?

[2019-07-25 07:35] yoasif commented on #934
It looks like based on the decryptVault, data may not have been lost, since I see files appearing in the output folder.

There are hundreds of files not visible when the disk is mounted, though - 214 items so far that don't appear when looking at the disk in my file manager.

[2019-07-25 07:50] overheadhunter commented on #934
Good to hear, but still I can't really follow what happened during that initial copy.

[2019-07-25 07:53] yoasif commented on #934
Both the source data and my cryptomator disk are on the same physical volume.

I cut files from my unencrypted source disk to the encrypted cryptomator volume.

My file manager periodically stopped copying because the file size of the files being copied were sometimes larger than the free space buffer on my physical disk.

I then started the cut and paste process again, replacing any partially cop

[2019-07-25 08:13] overheadhunter commented on #934
Ok now we're getting closer: The file manager (correctly) stopped because of an I/O error due to insufficient disk space. Normally you shouldn't be able to convince it to continue. But for whatever reason (a potential bug in Cryptomator) the destination reported enough disk space. So the file manager decided it is a legitimate idea to add more data to it.

Correct?

However, any attempt to continu

[2019-07-25 08:17] yoasif commented on #934
No, I don't think so. I freed some space from the disk when I encountered those I/O errors, cancelled the copy, and started from where I left off. Since I was cutting files, the original files were being removed from the source as the copies continued (after I manually restarted them).

Do you have any idea why the files disappeared but can be recovered via sanitize?

Sanitize also seems to need a

[2019-07-25 08:34] overheadhunter commented on #934
_Just one possibility_ is that those files have fairly long names in which case the creation of a file can no longer be atomic, as two files are written. This has to do with compatibility to file systems and software (mostly Microsoft...) that can't handle certain path and filename lengths.

Anyhow: If the process fails due to errors, there is a chance the second file (containing the mapping betwe

[2019-07-25 08:40] yoasif commented on #934
Based on what I am seeing, the filenames don't seem all that long to me -- the largest filename is 62 characters. This is at the root directory.

The average length is 32 (used wc -l and wc -m and division) for the files recovered so far via sanitize.

Keep in mind that there are ZERO files visible in the cryptomator volume right now, yet I have recovered 270 files in the root directory so far.

[2019-07-25 08:51] overheadhunter commented on #934
Ok this is a different topic then. The log file doesn't contain a failed directory listing, so I don't have any clue why this is the case.

[2019-07-25 09:08] yoasif commented on #934
I shutdown cryptomator, forcing a dismount, and remounted. The files then reappeared.

I see nothing interesting in the logs.

I think you have enough information to improve the situation here, and I'm going to grab the files and delete my vault unless you would like me to collect more data before I do so.

[2019-07-25 09:16] overheadhunter commented on #934
Yes, we'll try to reproduce it. Thanks for reporting this!

[2019-07-25 13:51] pizzadude opened #935 "Cryptomator 1.14.12 AppImage does not show "password" page on Linux"
### Description

Cryptomator does not show the password page on Linux, making it impossible to unlock the vault. It worked fine in 1.14.11.

### System Setup

* Operating system and version: Fedora 30 KDE
* Cryptomator version: 1.14.12
* Drive: Fuse

### Steps to Reproduce

1. Attempt to open password page on Linux by clicking the vault
2. Only the robot logo shows
3. You can not unlock the vault

[2019-07-25 14:01] pizzadude commented on #935
`/usr/bin/AppImageLauncher: /lib64/libcurl.so.4: no version information available (required by /usr/bin/../lib/x86_64-linux-gnu/appimagelauncher/libappimageupdate.so)

(process:589): GLib-CRITICAL **: 09:58:32.474: g_file_test: assertion 'filename != NULL' failed
Icon theme "elementary" not found.
Picked up _JAVA_OPTIONS: -Dawt.useSystemAAFontSettings=on -Dswing.aatext=true -Dswing.defaultlaf=com.

[2019-07-25 14:03] pizzadude commented on #935
[cryptomator-output.txt](https://github.com/cryptomator/cryptomator/files/3431894/cryptomator-output.txt)

Attached is log of terminal output.

[2019-07-25 14:10] overheadhunter commented on #935
Regression caused by #422. Apparently problems in the keyring aren't properly handled yet... :-/

[code]

@swiesend Any idea what could have happened here?

[2019-07-25 14:19] pizzadude commented on #935
I read here https://www.linuxuprising.com/2019/07/cloud-files-encryption-app-cryptomator.html that cryptomator uses KSecretService on KDE but that doesn't look to exist on Fedora, only KWallet does. Gnome-keyring is installed though.

[2019-07-25 14:24] swiesend commented on #935
@purejava just wrote me on that topic: "In aktuellen KDE Versionen wird, soweit ich das überschaue, kwallet anstelle von ksecretservice eingesetzt, das seit einigen Jahren nicht weiter entwickelt wird.". I actually never tested it under KDE and was not aware, that `ksecretservice` was abandoned yet.

I think @purejava and I will arrange us to find a solution. Either by extending the current lib or

[2019-07-25 15:29] swiesend commented on #935
Hey @Montel @tsdgeos @jriddell @StefanBruens,

which D-Bus API is actually provided/used by `kwallet` or on KDE in general?

I assume this is current one, right?
https://github.com/KDE/kwallet/blob/master/src/api/KWallet/org.kde.KWallet.xml

And is there further documentation? E.g. on the `kwallet-pam` authentication part?

[2019-07-25 16:25] swiesend commented on #935
I am not sure, but maybe
* `gnome-keyring` is conflicting with `kwallet`
* the entire `org.freedesktop.Secret` interface is missing
* just the `org.gnome.keyring.InternalUnsupportedGuiltRiddenInterface` is missing
* or something else.

Actually I don't know why KDE does not use the [Secret Storage Spec](https://www.freedesktop.org/wiki/Specifications/secret-storage-spec/) in [Version 0.2](https://

[2019-07-25 17:09] pizzadude commented on #935
@swiesend I tested it also on my desktop which is running Fedora KDE and **does not** have gnome-keyring running / installed and it has the same issue. So it's definitely not gnome-keyring conflicting with kwallet. Not sure if this is needed, but here's some info about my setup:
[code]
I use the latest kde from https://copr.fedorainfracloud.org/coprs/mkyral/plasma-unstable/ (despite the name, it's

[2019-07-25 17:53] swiesend commented on #935
@pizzadude I am sorry, but I think there is no quick fix to that, as `kwallet5` seems cohere to a totally different interface, then [Secret Service](https://github.com/swiesend/secret-service) implements:

So technically `ksecretservice` should be supported, but KDE actually does not use it, as they use `kwallet` instead. We would need to implement a client for the`org.kde.KWallet` D-Bus interface

[2019-07-25 18:15] pizzadude commented on #935
If you can't fix it by the next version, maybe as a temporary fix you implement code to check if KDE is being used and then if it is disable the code that changed so I can still unlock my vaults without using an old version?

[2019-07-25 20:24] swiesend commented on #935
Disclaimer: @purejava and I are not Cryptomator team members, this providing this extra feature was open source community effort.

@pizzadude, yes you are right. This should be fixed here:

https://github.com/cryptomator/cryptomator/blob/8f9e11716998d2b533ff96a7132dabccbe3dcd81/main/keychain/src/main/java/org/cryptomator/keychain/LinuxKeychainTester.java#L9-L16

But [org.apache.commons.lang3.Syste

[2019-07-25 20:50] StefanBruens commented on #935
The correct way is to check if the two DBus interfaces are available (i.e. if there is a service providing it), and then check each one if it has a the wanted key.

1. There are other desktops
2. gnome-keyring can be started under Plasma and kwallet under gnome-shell, and both can coexist
3. kwallet may one day provide the secretservice interface

[2019-07-26 07:24] purejava commented on #935
The Exception is also thrown from running the AppImage on a clean install of Fedora 30 with GNOME desktop environment.

**But** building and running Cryptomator on the same platform within IntelliJ does work flawlessly.

I suspect that running Cryptomator as an AppImage causes the trouble here.

Downloading Fedora 29 now to install another virtual machine and to see if this makes any difference.

[2019-07-26 07:43] purejava commented on #935
The save password feature (technically seen) works as follows:
- check if we are on a Linux system
- check if the Secret Service library is available (comes with the Cryptomator AppImage for Linux)
- load it and connect to the default keyring via D-Bus, which requires GNOME's gnome-keyring to be installed and configured

If all steps mentioned above succeed, the save password checkbox gets availab

[2019-07-26 07:46] purejava commented on #935
Whatever keeps Cryptomator AppImage from accessing D-Bus needs to be identified and fixed. This could also mean an improved handling of the availability checks mentioned above.

[2019-07-26 07:50] pizzadude commented on #935
Interesting, so it's not a KDE problem, it's an AppImage problem. I'll install IntelliJ idea and building it to see if it works then.

[2019-07-26 08:26] overheadhunter commented on #935
Easier way of checking if it is the AppImage: Download `buildkit-linux.zip` from [our releases page](https://github.com/cryptomator/cryptomator/releases). Unzip it, `cd` to its base directory and run the shell included script.

[2019-07-26 11:17] purejava commented on #935
I tested version 1.14.12 of Cryptomator on Fedora with GNOME.
The following table indicates, whether it runs without the exception or not:

Fedora | AppImage | buildkit-linux.zip
--- | ------ | -----------
29 | ✅  | ✅
30 | ❎  | ✅

I still suspect running Cryptomator as an AppImage causes the trouble here. I'll take a look at the Fedora documentation, whether something changed with Fedora 30 regard

[2019-07-26 14:32] pizzadude commented on #935
I can confirm that running the Cryptomator jar release (buildkit-linux.zip) works fine (including saving passwords), so yeah, it's an AppImage issue.

[2019-07-26 14:43] purejava commented on #935
Thanks @pizzadude for checking this out.
I could not find anything relevant in the Fedora documentation.

When comparing the buildkit-linux.zip to the AppImage, a relevant difference might be these files in the AppImage (which are not part of buildkit-linux.zip):

[code]
Could you check these please @overheadhunter?

[2019-07-26 14:58] pizzadude commented on #935
I tried extracting the appimage, deleting those files, and running it again but that broke the appimage.

[2019-07-26 15:09] purejava commented on #935
This is a workaround for running Cryptomator on Fedora 30 when the AppImage fails.

[2019-07-26 15:13] purejava commented on #935
Did you test that on KDE? I wonder, that saving passwords was available for you. 😄

[2019-07-26 16:17] pizzadude commented on #935
@purejava Yes, I tested that on KDE. Maybe it worked because gnome-keyring was also installed and running.

[2019-07-26 16:30] pizzadude commented on #935
Okay, so I just tested it on my desktop (also Fedora 30 KDE) and it turns out it has gnome-keyring installed, but it didnt't autostart. When I tried the buildkit-linux.zip release on there, Cryptomator immediately launched gnome keyring which prompted for my password and saving works. So the reason saving works is because both machines have gnome keyring installed.

[2019-07-27 06:26] purejava commented on #935
I think you are right. The build process uses an early access version of jpackage to generate a self-contained Java for the AppImage. The files mentioned in https://github.com/cryptomator/cryptomator/issues/935#issuecomment-515481456 get generated during this process.

[2019-07-27 13:42] Mortennn opened #936 "FUSE unavailable in preferences"
I just upgraded from 1.4.11 to 1.4.12 and now I can't choose to mount as fuse drive.

Is this expected behaviour?

MacOS: 10.14.6 (18G84)
**EDIT:** Fuse for macos: 3.10.2

<img width="648" alt="cryptomator" src="https://user-images.githubusercontent.com/34214574/61995146-9a281300-b084-11e9-8208-0a33b7ac3cda.png">

[2019-07-28 08:45] overheadhunter commented on #936
Have you installed FUSE for macOS?

[2019-07-28 08:49] #878 closed

[2019-07-28 08:58] overheadhunter commented on #935
`jpackage` invokes `jlink` to create a stripped down JVM with only [these modules](https://github.com/cryptomator/cryptomator-linux/blob/2f2f2eb84252c19bd5020341372d28f3bb827f2f/appdir-build.sh#L29). Maybe we're missing some modules that are required on Fedora 30 but not on Fedora 29 for some reason..?

Instead of deleting those files, you could try replacing the whole JRE directory by a JRE built

[2019-07-28 10:53] pizzadude commented on #935
@overheadhunter I would try that if I knew how to build it properly. The scripts (appdir-build.sh, appimage-build.sh) and even the build.sh you linked all error out.

[2019-07-28 12:47] purejava commented on #935
[code]
Unfortunately it requires the `--add-module` switch.

[2019-07-28 12:58] purejava commented on #935
For me on Arch linux the following works (taken from cryptomator-linux and the contained .travis.yml):
[code]

Please note: this is not the script mentioned by @overheadhunter above but the current build process in manual steps.  Hope the helps.

[2019-07-28 14:01] Mortennn commented on #936
Yes. I used FUSE in 1.4.11, but when I upgraded the option disappeared. I checked the `settings.json` file in which I also found: `"preferredVolumeImpl": "FUSE"`

[2019-07-28 14:46] purejava commented on #936
Could you post your logfile please?

You can find it in `~/Library/Logs/Cryptomator`.

[2019-07-28 15:01] Mortennn commented on #936
I looked though the logfiles and I found this message in all of them:
`[Background Thread 2] WARN  org.cryptomator.ui.model.VaultModule - Using WebDAV, because FUSE is not supported.`
There were not logged any other warnings or errors in the logfiles.

[2019-07-28 18:43] pizzadude commented on #935
@overheadhunter Can you put the workaround of running it from buildkit-linux.zip in the download page or the github readme until this issue is resolved?

@purejava Thanks for the instructions.

[2019-07-28 20:42] overheadhunter commented on #935
We will downgrade the linux download page to 1.4.11 until we've solved this. Workaround might be too technical for some users.

[2019-07-28 20:45] overheadhunter commented on #935
Damn. We need to find out if the difference lies in the stripped down JRE or the appimage itself. In any case the dbus library doesn't seem very resilient yet. Errors accessing the keychain must not cause such issues.

[2019-07-29 12:40] rafjaf opened #937 "Spotligh indexing under Cryptomator 1.4.12 (macOS)"
### Description

Custom mount flags are now supposed to allow Spotlight indexing of Cryptomator volumes as explained in https://github.com/cryptomator/cryptomator/issues/122#event-2505480956

However, Spotlight seems stuck indexing forever.

### System Setup

* Operating system and version: macOS 10.14.5 (18F132)
* Cryptomator version: 1.4.12
* Drive: FUSE

### Steps to Reproduce

1. Mount a volum

[2019-07-30 15:20] jcbvm opened #938 "Wrong password (keyboard language)"
### Description

I have problems with entering my password with a different input language. I've created the password of my vault with a dutch keyboard language. The password contains a ' character and it looks to me this is causing a problem. After changing my keyboard language to english, cryptomater says my password is wrong.

### System Setup

* Operating system and version: Windows 10
* Crypt

[2019-07-30 19:26] TimetravelerDD commented on #336
+1 for a user friendly way to determine the encrypted version of an unencrypted file. The most convenient would be to right click the file and then selecting "Show encrypted file in Explorer"

In the meantime, is there a way to look it up by opening some of the metadata files manually?

[2019-07-30 20:19] overheadhunter commented on #336
Nope. Only via [sanitizer](https://github.com/cryptomator/sanitizer#encryptpath-command-usage) with the `encryptPath` command, which is not exactly what I'd call handy.

But I'm currently involved in the 1.5.0 redesign and we're aware of this feature request.

[2019-07-30 21:19] overheadhunter commented on #938
@infeo Can you reproduce this?

[2019-07-31 05:17] purejava commented on #935
I've made some progress to find out what's going on.

On my Fedora 30, starting the AppImage with extended privileges starts Cryptomator without the IOException.
[code]

If I am not wrong, the problem is that my Fedora user is missing a privilege it has on Fedora 29. Maybe access to a certain file?

What do you think?

@pizzadude, could you please confirm on your installation that the above works

[2019-07-31 08:03] rorygsales commented on #802
Just installed 1.4.12 to see if the custom mounting flags are there, and they are :-). Thank you.

defaults I see are as below
--options CURRENT_SESSION --thread-count 5 --timeout 10000 --allocation-unit-size 4096 --sector-size 4096

How would I now go about mounting a vault allowing access to my **current user** and **Windows Admin user** at the same time. I see allow_root for Mac?
Is there a exa